body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

section {
    margin-bottom: 110px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    color: transparent;
}

img {
    border-radius: 1ch;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.arrowRotate180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.arrowRotate0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

/* icon 사용 */
span {
    position: absolute;
}

/* Footer */
footer {
    background-color: rgb(248, 248, 248);
}

footer div.foot {
    width: 1100px;
    margin: 0 auto;
}

footer div.head {
    width: 100%;
    display: flex;
    padding: 60px 0px 0px 0px;
    top: 180px;
    left: 50%; 
}

footer div.head h2 {
    flex-grow: 1;
    margin: 0;
    font-family: Acme;
}

footer div.head .country, .language, .select_country_btn:hover, .select_language_btn:hover {
    cursor: pointer;
}

footer div.head .country div.speech_bubble {
    width: 40px;
    height: 40px;
    background-color: white;
    transform: rotate(90);
    border-radius: 0.5ch;
    border: 2px black;
}

footer div.head .country img {
    position: absolute;
    top: 21px;
    left: 20px;
    border-radius: 0; 
    width: 30px;
}

footer div.head span#world {
    top: 20px;
    left: 20px;
}

footer div.head span {
    top: 20px;
    right: 15px;
}

footer .select_country_btn, .select_language_btn {
    width: 150px;   
    border: 1px solid #c4c4c4;
    border-radius: 0.7ch;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: transparent;
}

footer div.footer_select {
    position: relative;
}

footer ul.country_list {
    width: 685px;
    display: none;
    position: absolute;
    right: 10px;
    bottom: 60px;
    padding: 10px;
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 0.8ch;
    background-color: white;
    box-shadow: 10px 10px 40px #c1c1c1;
} 

footer .country_list li {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
    /* box-sizing: border-box;  */
}

footer .country_list li button {
    width: 158px;
    height: 40px;
    margin: 2px;
    text-align: left;
    vertical-align: middle;
    font-size: 15px;  
    display: inline-block;        
    border: none;
    transition: all 0.1s;
    background-color: transparent;
}

footer .country_list button:hover { 
    height: 40px;
    border-radius: 0;
    cursor: pointer;
    background-color: rgb(234, 234, 234);   
}

footer .country_list img { 
    width: 25px;
    margin-right: 10px;
    border-radius: 0px;
}

footer div.footer_select ul.language_list {
    width: 165px;
    display: none; 
    position: absolute;
    right: -5px;
    bottom: 60px;
    padding: 10px;
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 0.8ch;
    background-color: white;
    box-shadow: 10px 10px 40px #c1c1c1;
} 

footer div.footer_select .country_speech_bubble,
footer div.footer_select .language_speech_bubble {
    width: 25px;
    height: 25px;
    display: none;
    position: absolute;
    right: 40px;
    bottom: 48px;
    padding: 10px;
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 0.5ch;
    background-color: white;
    transform: rotate(45deg);
}

footer .select_country_btn:active+.country_list, .select_language_btn:active+.language_list {
    display: block;
}

footer .language_list li {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
    /* box-sizing: border-box;  */
}

footer .language_list li button {
    width: 140px;
    height: 33px;
    margin: 2px;
    text-align: left;
    font-size: 15px;  
    display: inline-block;        
    border: none;
    transition: all 0.1s;
    background-color: transparent;
}

footer .language_list li button:hover { 
    cursor: pointer;
    background-color: rgb(234, 234, 234);   
}

.footer_add ul.footer_explation {
    display: flex;
}

.footer_add ul.footer_explation>li {
    width: 210px;
    margin: 0px 10px 50px 10px; 
    line-height: 2;
}

.footer_add ul.footer_explation>li h4 {
    display: block;
    color: black;
    margin: 30px 0px 5px 0px; 
}

.footer_add ul.footer_explation>li a {
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.footer_add ul.footer_explation>li a:hover {
    color: black;
}

.footer_add div.social img {
    width: 23px;
    height: 23px;
    margin-right: 4px;
    border-radius: 50%;
    overflow: hidden;
    
    /* 둥글게 만드는 방법 */
    background-color: white;
    box-shadow: inset 0 0 0 2px black;
}

.footer_add div.app_download img {
    width: 140px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 0.3ch;
}

footer hr {
    color: #f5f5f5;
}

footer p {
    margin-top: 20px;
    font-size: 13px;
}