@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* 전체 설정 */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

section {
    margin-bottom: 110px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    color: transparent;
}

img {
    border-radius: 1ch;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.arrowRotate180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.arrowRotate0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

/* icon 사용 */
span {
    position: absolute;
}

/* Header */
body > header {
    text-align: center;
    position: relative;
    background-position: center;
    color: white;
    width: 100%;
    height: 560px;
    background: url(../images/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

header .header_list .header_menu {
    font-size: 18px;
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header .header_list .header_menu a {
    display: flex;
    color: white;
}

header .header_list .header_menu span {
    position: relative;
    width: 20px;
    margin-right: 10px;
}

header .header_list .header_menu_list {
    display: flex;
    color: white;
}

header .header_list .header_menu_list>li {
    margin: 0px 15px;
}

header .header_list .header_menu_list button {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border: transparent;
    background-color: transparent;
}

header .header_list .header_menu_list button:hover {
    cursor: pointer;
}

header .header_list .header_menu_list .modal {
    position: absolute;
    top: 320px;
    left: 200px;
    width: 100vw;
}

header .header_list .header_menu_list .modal .login,
header .header_list .header_menu_list .modal .signup {
    display: none;
    width: 420px;
    height: 480px;
    position: absolute;
    top: 65%;
    left: 30%;
    padding: 23px;
    color: black;
    background-color: white;
    border-radius: 0.5ch;
    z-index: 9;
    animation: 0.3s scaleAnimation ease-in-out;
}

header .header_list .header_menu_list .modal_header {
    display: flex;
    position: relative;
}

header .header_list .header_menu_list .modal_header .modal_name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

header .header_list .header_menu_list .modal span#close {
    position: absolute;
    top: 10px;
    right: 0px;
    color: black;
    cursor: pointer;
}

header .header_list .modal button {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    border-radius: 0.5ch;
}

header .header_list .modal .login_send {
    font-size: 16px;
    background-color: rgb(253, 88, 88);
    margin-bottom: 20px;
}

header .header_list .modal .login_send:hover {
    background-color: rgb(222, 74, 74);
}

header .header_list .modal .login_type {
    display: flex;
    position: relative;
    padding: 0px;
    border: 1px solid #d5d5d5;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5ch;
    margin-bottom: 20px;
}

header .header_list .modal .login_type button {
    color:#707070;
}

header .header_list .modal .login_type span {
    position: absolute;
    top: 13px;
    left: 70px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

header .header_list .modal .login_type img {
    position: absolute;
    top: 13px;
    left: 75px;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

header .header_list .header_menu_list .login_footer {
    display: flex;
}

header .header_list .header_menu_list .modal .dividing_line {
    color: #dbdbdb;
    margin-bottom: 20px;
}

header .header_list .header_menu_list .login_footer p:last-child {
    margin-left: 10px;
    color: red;
}

header .header_list .header_menu_list input#modal_input {
    width: 94%;
    height: 50px;
    /* color: ; */
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #d5d5d5;
    border-radius: 0.5ch;
}

header .header_list .header_menu_list input#modal_input:focus-visible { 
    border: 2px solid green;
}

header .header_list .header_menu_list .agree {
    display: flex;
}

header .header_list .header_menu_list input#agree {
    margin-left: 5px;
    width: 20px;
}

header .header_list .header_menu_list .agree p {
    font-size: 12px;
    margin-left: 11px;
    text-align: left;
}

header .header_list .header_menu_list strong {
    color: rgb(253, 88, 88);
}

header .header_list .header_menu_list .account {
    font-size: 16px;
    margin: 20px 0px;
    background-color: lightgray;
}

header .header_list h1 {
    margin-top: 80px;
    /* 마진을 주는 방법말고 그 자체를 수직 중앙으로 적용하는 방법.. */
    font-size: 70px;
    font-family: Acme;
}

header .header_container form.header_input {
    position: relative;
    display: block;
    /* width: 1200px; */
    margin: 0;
    padding: 0;
}

header .modal .header_phone { 
    display: inline-block;
    width: 100%;
}

header .modal .header_phone .header_phone_select { 
    position: relative;
    display: inline;
    cursor: pointer;
    z-index: 9;
}

header .modal .header_phone .header_phone_pre { 
    position: absolute;
    display: inline;
    /* background-color: red; */
}

header .modal .header_phone .header_phone_btn { 
    position: absolute;
    top: -11px;
    width: 84px;
    height: 53.3px;
    padding-right: 20px;
    font-size: 16px;
    text-align: center;
    margin: 10px 5px 10px 0px;
    vertical-align: middle;
    color: rgb(29, 29, 29);
    border: 2px solid transparent;
    background-color: transparent;
}


header .modal .header_phone .header_phone_pre span { 
    position: absolute;
    top: 15px;
    left: 47px;
}

header .modal .header_phone .header_phone_btn:hover { 
    cursor: pointer;
    /* border: 2px solid green; */
}

header .modal .header_phone ul { 
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 80px;
    height: 200px;
    border-radius: 1ch;
    box-shadow: 1px 1px 5px #ddd;
    overflow-y: scroll;
}

header .modal .header_phone ul>li { 
    display: block;
    width: 60px;
    text-align: center;
    padding-right: 10px;
    color: rgb(33, 33, 33);
    background-color: white;
    top: 15px;
    right: 15px;
}

header .modal .header_phone ul>li:hover { 
    background-color: #dadada;
}

header .modal #header_phone { 
    width: 337px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-left: 80px;
    border: 1px solid #d5d5d5;
    text-align: left;
    border-radius: 0.5ch;
    margin-bottom: 20px;
}

header .modal #header_phone:focus-visible { 
    border: 2px solid green;
}

header .header_container .location_hidden {
    display: none;
    position: absolute;
    top: 63px;
    left: 180px;
    width: 330px;
    height: 45px;
    font-weight: 200;
    color: rgb(253, 88, 88);
    padding: 20px;
    text-align: left;
    background-color: white;
    border-radius: 0.7ch;
}

header .header_container .location_hidden:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

header .header_container .location_hidden span {
    /* position: absolute; */
    width: 5px;
    height: 5px;
}

header .header_container .location_hidden h4, p {
    padding-left: 40px;
}

header .header_container .location_hidden p {
    color:#959595;
    font-size: 13px;
    padding-left: 40px;
}

header .header_container input:focus {
    outline: none;
}

header .header_container span {
    width: 40px;
    height: 40px;
}

header .header_container form #location_icon {
    display: inline;
    color: rgb(255, 127, 127);
    top: 15px;
}

header .header_container form #arrow_icon {
    display: inline;
    color: rgb(88, 88, 88);
    top: 15px;
    margin-left: 233px;
    cursor: pointer;
}

header .header_container form #search_icon {
    margin-left: 6px;
    display: inline;
    color: rgb(151, 151, 151);
    top: 15px;
}

header .header_container .location, .search {
    height: 25px;
    padding: 14px 14px 14px 55px;
    font-size: 14px;
    border-color: transparent; 
}

header .header_container .location {
    width: 200px;
    padding: 14px 35px;
    border-radius: 0.8ch 0ch 0ch 0.8ch;
}

header .header_container .search {
    width: 500px;
    border-radius: 0ch 0.8ch 0.8ch 0ch;
    margin-left: -10px;
}


main {
    margin: 0 auto;
    background-color: rgb(254, 254, 254);
}