/* 애니메이션 */
@keyframes scaleAnimation {
    from {
        display: none;
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes blurAnimation {
    from {
        backdrop-filter: blur(100%);
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

/* 전체 설정 */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

section {
    margin-bottom: 110px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    color: transparent;
}

img {
    border-radius: 1ch;
    animation: 0.3s scaleAnimation ease-in-out;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.arrowRotate180 {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.arrowRotate0 {
    transform: rotate(0deg);
    transition: all 0.3s;
}

/* icon 사용 */
span {
    position: absolute;
}

/* Menu */
main ul.menu {
    margin: 0 auto;
    width: 1100px;
    color: black;
    display: flex;
    margin-top: 30px;
}

main ul.menu li {
    position: relative;
}

main section.menu ul.menu .explation {
    width: 308px;
    height: 62px;
    margin: 2px;
    padding: 14px 20px 10px 20px;
    color: black;
    position: absolute;
    top: 185px;
    left: 8px;
    background-color: white;
    border-radius: 0ch 0ch 1ch 1ch;
    border: 2px solid rgb(234, 234, 234);
}

main section.menu ul.menu>li {
    display: inline-block;
    /* background-color: red; */
    transition:transform ease-in-out .2s;
}

main section.menu ul.menu>li:hover {
    transform: scale(1.05);
}

main ul.menu img {
    width: 350px;
    height: 250px;
    margin: 25px 10px;
}

main section.menu ul.menu .explation p {
    margin-top: 5px;
    padding: 0;
}


/* Collections */
main .collections {
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 120px;
}

main .collections_explation {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 30px;
}

main .collections_explation p {
    margin-left: 0;
}

main .collections_explation a {
    margin-right: 0;
}

main .collections_explation a {
    color: rgb(243, 59, 59);
}

main ul.collections_menu {
    display: flex;
    margin: 0 auto;
}

main ul.collections_menu>li {
    position: relative;
}

main ul.collections_menu .collections_explationOne {
    width: 266px; 
    height: 320px;
    display: block;
    margin: 3px;
    border-radius: 0.8ch;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(transparent 50%, black),
        url("../images/collections4.jpg");
    animation: 0.5s blurAnimation ease-in-out;
}

main ul.collections_menu .collections_explationTwo {
    width: 266px; 
    height: 320px;
    display: block;
    margin: 3px;
    border-radius: 0.8ch;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(transparent 50%, black),
        url("../images/collections2.jpg");
    animation: 0.5s blurAnimation ease-in-out;
}

main ul.collections_menu .collections_explationThr {
    width: 266px; 
    height: 320px;
    display: block;
    margin: 3px;
    border-radius: 0.8ch;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(transparent 50%, black),
        url("../images/collections3.jpg");
    animation: 0.5s blurAnimation ease-in-out;
}

main ul.collections_menu div .collections_explationFor {
    width: 266px; 
    height: 320px;
    display: block;
    margin: 3px;
    border-radius: 0.8ch;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(transparent 50%, black),
        url("../images/collections1.jpg");
    animation: 0.5s blurAnimation ease-in-out;
}

main ul.collections_menu>li.collections_menu_list>a h3 {
    color: white;
    position: absolute;
    padding-left: 3px;
    top: 257px;
    left: 20px;
}

main ul.collections_menu>li.collections_menu_list>a p {
    color: white;
    position: absolute;
    top: 283px;
    left: 20px;
    padding-left: 3px;
    margin-top: 5px;
    font-size: 13px;
}


/* Popular localities in and around Raipur */
main .popular_localities{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
}

main .popular_localities nav {
    margin: 0 auto;
    display: flex;
}

main ul.popular_menu {
    display: inline-block;
}

main ul.popular_menu>li {
    vertical-align: middle;
    /* see more이 따로 동떠서 씀 - 해결 이왜진 */
    position: relative;
    width: 330px;
    height: 55px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    align-content: center;
    border-radius: 1ch;
    border: 2px solid rgb(235, 235, 235);
}

main ul.popular_menu>li#hidden_popular {
    display: none;
}

main ul.popular_menu>li.more h3 {
    padding: 14px 32px 0px 0px;
    text-align: center;
}

main ul.popular_menu>li.more span {
    top: 26px;
    right: 115px;
}

main ul.popular_menu>li:hover {
    box-shadow: 1px 1px 5px #ddd;
}

main ul.popular_menu h3 {
    margin: auto;
    padding-left: 10px;
    padding-top: 3px;
}

main ul.popular_menu p {
    padding-left: 10px;
    padding-top: 3px;
}

main ul.popular_menu span {
    top: 27.5px;
    right: 20px;
}


/* Get the Zomato app */
main .get_app {
    width: 1100;
    height: 500px;
    display: flex;
    background-color: rgb(255, 251, 245);
}

main .gettheapp {
    margin: auto;
    display: flex;
}

main .gettheapp aside {
    margin: auto;
    display: flex;
}

main .gettheapp aside img {
    width: 250px;
    margin-right: 30px;
}

main .app_menu {
    width: 480px;
    line-height: 2;
    /* background-color: red; */
}

main .app_menu header h2, p{
    padding: 0px;
    margin: 0px;
}

main .app_menu main {
    background-color: transparent;
}

main .app_menu div.app_radio {
    /* width: 0px; */
    margin: 12px 5px 0px 0px;
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0em;
}

main .app_menu div.app_radio span {
    margin-right: 15px;
    font-size: 15px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
    position: relative;
}

main .app_menu div.app_radio [type="radio"] {
    vertical-align: middle;
    appearance: none; /* 라디오버튼 기본 스타일 없애기 */
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}

main .app_menu div.app_radio [type="radio"]:checked {
    border: 0.4em solid rgb(253, 88, 88);
    border-color: rgb(253, 88, 88);
}

main .app_menu div.app_radio [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted white;
    border-color: rgb(253, 88, 88);
}

main .app_menu div.app_radio [type="radio"]:hover {
    border-color: rgb(253, 88, 88);
    cursor: pointer;
    transition: none;   
}

main .app_menu div.app_radio [type="radio"]:disabled {
    background-color: rgb(225, 225, 225);
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

main .app_menu div.app_radio [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

main .app_menu form.app_input {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

main .app_menu form.app_input .app_phone {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 49.99px;
    margin-bottom: 20px;
}

main .app_menu form.app_input .phone_select {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    width: 26%;
    align-items: center;
    margin: 0px 10px;
    border-right: 1px solid #d5d5d5;
    z-index: 2;
    cursor: pointer;
}

main .app_menu form.app_input .phone_pre {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

main .app_menu form.app_input .phone_pre span {
    margin-left: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-origin: center;
}

main .app_menu form.app_input .phone_pre.spin span {
    transform: rotate(180deg);
}

main .app_menu form.app_input .phone_btn { 
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: rgb(29, 29, 29);
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

main .app_menu form.app_input .phone_btn:hover { 
    cursor: pointer;
    /* border: 2px solid green; */
}

main .app_menu form.app_input ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 80px;
    height: 200px;
    border-radius: 1ch;
    box-shadow: 1px 1px 5px #ddd;
    overflow-y: scroll;
}

main .app_menu form.app_input ul>li {
    display: block;
    width: 60px;
    text-align: center;
    padding-right: 10px;
    color: rgb(33, 33, 33);
    background-color: white;
    top: 15px;
    right: 15px;
}

main .app_menu form.app_input ul>li:hover {
    background-color: #dadada;
}

main .app_menu form.app_input #email,
main .app_menu form.app_input #phone {
    width: 60%;
    height: 50px;
    position: relative;
    padding-left: 100px;
    margin: 10px 5px 20px 0px;
    border: 1px solid #d5d5d5;
    text-align: left;
    border-radius: 0.7ch;
    z-index: 1;
    box-sizing: border-box;
}

main .app_menu form.app_input #email {
    padding-left: 20px;
}

main .app_menu form.app_input input::placeholder,
main .app_menu form.app_input #email,
main .app_menu form.app_input #phone {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

main .app_menu form.app_input #email:focus,
main .app_menu form.app_input #phone:focus {
    border: 2px solid green !important;
}

main .app_menu form.app_input button.link_btn,
main .app_menu form.app_input button.link_btn:hover {
    width: 150px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: rgb(253, 88, 88);
    cursor: pointer;
    border: none;
    border-radius: 0.7ch;
    margin-left: 5px;
}

main .app_menu form.app_input button.link_btn:hover { 
    background-color: rgb(230, 65, 65);
}

main div.app_menu main p {
    font-size: 13px;
    color: rgb(148, 148, 148);
}

main .app_menu nav.app_download img {
    width: 150px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 0.3ch;
}


/* Explore options near me */

main .explore_options {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
}

main .explore_options .explore {
    width: 1100px;
    margin: 25px 0px;
    padding: 23px;
    border: 1px solid lightgrey;
    border-radius: 1ch;
    /* background-color: ; */
    list-style: circle;
    position: relative;
}

main .explore_options .explore h3 {
    font-size: 21px;
    margin: 0px 0px 0px 3px;
    cursor: pointer;
}

main .explore_options .explore span {
    right: 25px;
    top: 28px;
}

main .explore_options ul {
    margin: 0px;
    padding: 0px;
}

main .explore_options ul>li {
    color: black;
    display: none;
    list-style: circle;
}

main .explore_options ul>li a#firstLi {
    display: inline-block;
    margin-top: 30px;
}

main .explore_options ul>li a {
    word-break: break-all;
    /* 한 문단씩 끊기는 특성 없애기 */
    color: rgb(104, 104, 104);
    line-height: 30px;
}

main .explore_options ul>li a:hover {
    color: black;
}

main .explore_options .explore_popular ul>li a::after {
    content: "•";
}

main .explore_options .explore_popular ul>li:last-child a::after {
    content: "";
}

main .explore_options .cuisines, .restaurant, .cities {
    cursor: pointer;
}

main .explore_options .explore_cities ul>li {
    margin-bottom: 14px;
    position: relative;
    width: 205px;
    display: none;
    align-content: center;
}

main .explore_options .explore_cities ul>li:last-child a {
    font-weight: 600;
    color: black;
    text-decoration: underline 2px;
}
