@charset "UTF-8";
@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blurAnimation {
  from {
    backdrop-filter: blur(100%);
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section {
  margin-bottom: 110px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  color: transparent;
}

img {
  border-radius: 1ch;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.arrowRotate {
  transition: all 0.3s;
}
.arrowRotate.arrowRotate180 {
  transform: rotate(180deg);
}
.arrowRotate.arrowRotate0 {
  transform: rotate(0deg);
}

span {
  position: absolute;
}

main {
  margin: 0 auto;
  background-color: rgb(254, 254, 254);
}
main ul.menu {
  margin: 30px auto 0 auto;
  width: 1100px;
  color: #000;
  display: flex;
}
main ul.menu li {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
main ul.menu li:hover {
  transform: scale(1.05);
}
main ul.menu img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  margin: 25px 10px;
}
main ul.menu .explation {
  width: 308px;
  height: 62px;
  margin: 2px;
  padding: 14px 20px 10px 20px;
  color: #000;
  position: absolute;
  top: 185px;
  left: 8px;
  background-color: #fff;
  border-radius: 0ch 0ch 1ch 1ch;
  border: 2px solid rgb(234, 234, 234);
}
main ul.menu .explation p {
  margin-top: 5px;
  padding: 0;
}
main .collections {
  margin: 0 auto 120px auto;
  width: 1100px;
}
main .collections .collections_explation {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 30px;
}
main .collections .collections_explation p {
  margin-left: 0;
}
main .collections .collections_explation a {
  margin-right: 0;
  color: rgb(180, 40, 40);
}
main .collections ul.collections_menu {
  display: flex;
  margin: 0 auto;
}
main .collections ul.collections_menu > li {
  position: relative;
}
main .collections ul.collections_menu .collections_explationOne,
main .collections ul.collections_menu .collections_explationTwo,
main .collections ul.collections_menu .collections_explationThr,
main .collections ul.collections_menu .collections_explationFor {
  width: 266px;
  height: 320px;
  display: block;
  margin: 3px;
  border-radius: 0.8ch;
  background-size: cover;
  background-repeat: no-repeat;
  animation: blurAnimation 0.5s ease-in-out;
}
main .collections ul.collections_menu .collections_explationOne {
  background-image: linear-gradient(transparent 50%, black), url("../images/collections4.jpg");
}
main .collections ul.collections_menu .collections_explationTwo {
  background-image: linear-gradient(transparent 50%, black), url("../images/collections2.jpg");
}
main .collections ul.collections_menu .collections_explationThr {
  background-image: linear-gradient(transparent 50%, black), url("../images/collections3.jpg");
}
main .collections ul.collections_menu .collections_explationFor {
  background-image: linear-gradient(transparent 50%, black), url("../images/collections1.jpg");
}
main .collections ul.collections_menu li.collections_menu_list > a h3 {
  color: #fff;
  position: absolute;
  padding-left: 3px;
  top: 257px;
  left: 20px;
}
main .collections ul.collections_menu li.collections_menu_list > a p {
  color: #fff;
  position: absolute;
  top: 283px;
  left: 20px;
  padding-left: 3px;
  margin-top: 5px;
  font-size: 13px;
}
main .popular_localities {
  width: 1100px;
  margin: 0 auto 120px auto;
}
main .popular_localities nav {
  margin: 0 auto;
  display: flex;
}
main .popular_localities ul.popular_menu {
  display: inline-block;
}
main .popular_localities ul.popular_menu > li {
  position: relative;
  width: 330px;
  height: 55px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  align-content: center;
  border-radius: 1ch;
  border: 2px solid rgb(235, 235, 235);
  vertical-align: middle;
  /* see more이 따로 동떠서 씀 - 해결 이왜진 */
}
main .popular_localities ul.popular_menu > li:hover {
  box-shadow: 1px 1px 5px #ddd;
}
main .popular_localities ul.popular_menu > li.more h3 {
  text-align: center;
  padding: 0 20px 0 0;
}
main .popular_localities ul.popular_menu > li.more span {
  top: 26px;
  right: 115px;
}
main .popular_localities ul.popular_menu > li#hidden_popular {
  display: none;
}
main .popular_localities ul.popular_menu > li h3 {
  margin: auto;
  padding-left: 10px;
}
main .popular_localities ul.popular_menu > li p {
  padding-left: 10px;
  padding-top: 3px;
}
main .popular_localities ul.popular_menu > li span {
  top: 27.5px;
  right: 20px;
}
main .get_app {
  width: 1100;
  height: 500px;
  display: flex;
  background-color: rgb(255, 251, 245);
}
main .get_app .gettheapp {
  margin: auto;
  display: flex;
}
main .get_app .gettheapp aside {
  margin: auto;
  display: flex;
}
main .get_app .gettheapp aside img {
  width: 250px;
  margin-right: 30px;
}
main .get_app .gettheapp .app_menu {
  width: 480px;
  line-height: 2;
}
main .get_app .gettheapp .app_menu header h2, main .get_app .gettheapp .app_menu header p {
  margin: 0;
  padding: 0;
}
main .get_app .gettheapp .app_menu main {
  background-color: transparent;
}
main .get_app .gettheapp .app_menu main div.app_radio {
  margin: 12px 5px 0px 0px;
  font-size: 20px;
  line-height: 2rem;
  padding: 0.2em 0em;
}
main .get_app .gettheapp .app_menu main div.app_radio span {
  margin-right: 15px;
  font-size: 15px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
  position: relative;
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio] {
  vertical-align: middle;
  appearance: none; /* 라디오버튼 기본 스타일 없애기 */
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:checked {
  border: max(2px, 0.1em) solid rgb(200, 50, 50);
  border-color: rgb(200, 50, 50);
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:checked::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  background-color: rgb(200, 50, 50);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #fff;
  border-color: rgb(200, 50, 50);
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:hover {
  border-color: rgb(200, 50, 50);
  cursor: pointer;
  transition: none;
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:disabled {
  background-color: rgb(225, 225, 225);
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}
main .get_app .gettheapp .app_menu main div.app_radio input[type=radio]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
main .get_app .gettheapp .app_menu main form.app_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 25px 0;
}
main .get_app .gettheapp .app_menu main form.app_input .app_email,
main .get_app .gettheapp .app_menu main form.app_input .app_phone {
  position: relative;
  display: inline-block;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
  box-sizing: border-box;
}
main .get_app .gettheapp .app_menu main form.app_input .app_email #email,
main .get_app .gettheapp .app_menu main form.app_input .app_email #phone,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #email,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  padding-left: 10px;
}
main .get_app .gettheapp .app_menu main form.app_input .app_email #email::placeholder,
main .get_app .gettheapp .app_menu main form.app_input .app_email #phone::placeholder,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #email::placeholder,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
main .get_app .gettheapp .app_menu main form.app_input .app_email #email:focus:focus,
main .get_app .gettheapp .app_menu main form.app_input .app_email #phone:focus:focus,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #email:focus:focus,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone:focus:focus {
  border: 2px solid green;
  outline: none;
}
main .get_app .gettheapp .app_menu main form.app_input .app_email #email:focus + .email-label,
main .get_app .gettheapp .app_menu main form.app_input .app_email #phone:focus,
main .get_app .gettheapp .app_menu main form.app_input .app_email #email:not(:placeholder-shown) + .email-label,
main .get_app .gettheapp .app_menu main form.app_input .app_email #phone:not(:placeholder-shown),
main .get_app .gettheapp .app_menu main form.app_input .app_phone #email:focus + .email-label,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone:focus,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #email:not(:placeholder-shown) + .email-label,
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone:not(:placeholder-shown) {
  top: 0px;
  left: 10px;
  color: green;
  font-size: 10px;
  transform: translateY(0);
}
main .get_app .gettheapp .app_menu main form.app_input .app_email .email-label,
main .get_app .gettheapp .app_menu main form.app_input .app_phone .email-label {
  position: absolute;
  top: 45%;
  left: 12px;
  padding: 0 4px;
  color: rgb(90, 90, 90) !important;
  background-color: #fff;
  z-index: 9;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}
main .get_app .gettheapp .app_menu main form.app_input .app_email.email_error_message, main .get_app .gettheapp .app_menu main form.app_input .app_email.phone_error_message,
main .get_app .gettheapp .app_menu main form.app_input .app_phone.email_error_message,
main .get_app .gettheapp .app_menu main form.app_input .app_phone.phone_error_message {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: red;
}
main .get_app .gettheapp .app_menu main form.app_input .app_phone {
  height: 49.99px;
}
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone {
  text-indent: 100px;
}
main .get_app .gettheapp .app_menu main form.app_input .app_phone #phone:focus {
  font-size: 16px;
  color: #000;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  align-items: center;
  height: 60%;
  width: 26%;
  margin: 0 10px;
  border-right: 1px solid #d5d5d5;
  z-index: 2;
  cursor: pointer;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select .phone_pre {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select .phone_pre span {
  margin-left: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform-origin: center;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select .phone_pre.spin span {
  transform: rotate(180deg);
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select .phone_pre .phone_btn {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: rgb(29, 29, 29);
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select .phone_pre .phone_btn:hover {
  cursor: pointer;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select ul {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 80px;
  height: 200px;
  overflow-y: scroll;
  border-radius: 1ch;
  box-shadow: 1px 1px 5px #ddd;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select ul li {
  display: block;
  width: 60px;
  text-align: center;
  padding-right: 10px;
  color: rgb(33, 33, 33);
  background-color: #fff;
  top: 15px;
  right: 15px;
}
main .get_app .gettheapp .app_menu main form.app_input .phone_select ul li:hover {
  background-color: #dadada;
}
main .get_app .gettheapp .app_menu main form.app_input button.link_btn {
  width: 50%;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: rgb(200, 50, 50);
  cursor: pointer;
  border: none;
  margin-left: 5px;
  border-radius: 0.7ch;
}
main .get_app .gettheapp .app_menu main form.app_input button.link_btn:hover {
  background-color: rgb(180, 40, 40);
}
main .get_app .gettheapp .app_menu main form.app_input button.link_btn:disabled {
  color: #fff;
  cursor: not-allowed;
  background-color: #ddd;
}
main .get_app .gettheapp .app_menu main p {
  font-size: 13px;
  color: rgb(90, 90, 90);
}
main .get_app .gettheapp .app_menu nav.app_download img {
  width: 150px;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 0.3ch;
}
main .explore_options {
  width: 1100px;
  margin: 0 auto 120px;
}
main .explore_options .explore {
  width: 1100px;
  margin: 25px 0;
  padding: 23px;
  border: 1px solid lightgrey;
  border-radius: 1ch;
  list-style: circle;
  position: relative;
}
main .explore_options .explore .cuisines,
main .explore_options .explore .restaurant,
main .explore_options .explore .cities {
  cursor: pointer;
}
main .explore_options .explore .cuisines h3,
main .explore_options .explore .restaurant h3,
main .explore_options .explore .cities h3 {
  font-size: 21px;
  margin: 0 0 0 3px;
  cursor: pointer;
}
main .explore_options .explore .cuisines span,
main .explore_options .explore .restaurant span,
main .explore_options .explore .cities span {
  right: 25px;
  top: 28px;
}
main .explore_options .explore ul {
  margin: 0;
  padding: 0;
}
main .explore_options .explore ul > li {
  color: #000;
  display: none;
  list-style: circle;
}
main .explore_options .explore ul > li a {
  word-break: break-all;
  /* 한 문단씩 끊기는 특성 없애기 */
  color: rgb(104, 104, 104);
  line-height: 30px;
}
main .explore_options .explore ul > li a:hover {
  color: #000;
}
main .explore_options .explore ul > li a#firstLi {
  display: inline-block;
  margin-top: 30px;
}
main .explore_options .explore .explore_popular ul > li a::after {
  content: "•";
}
main .explore_options .explore .explore_popular ul > li:last-child a::after {
  content: "";
}
main .explore_options .explore .explore_cities ul > li {
  margin-bottom: 14px;
  position: relative;
  width: 205px;
  display: none;
  align-content: center;
}
main .explore_options .explore .explore_cities ul > li:last-child a {
  font-weight: 600;
  color: #000;
  text-decoration: underline 2px;
}

/*# sourceMappingURL=main.css.map */
