body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

h1, h2, h3, h4, p, ul {
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 110px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    color: transparent;
}

img {
    border-radius: 1ch;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}


/* Header */

body > header {
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: white;
    width: 100%;
    height: 560px;
    background-size: cover;
    background-image: url(../images/background.avif);
}

header .header_list .header_menu {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header .header_list .header_menu a {
    display: flex;
    color: white;
}

header .header_list .header_menu img {
    width: 20px;
    margin-right: 10px;
}

header .header_list .header_menu_list {
    display: flex;
    color: white;
}

header .header_list .header_menu_list>li {
    margin: 0px 15px;
}

header .header_list .header_menu_list button {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    border: transparent;
    background-color: transparent;
}

header .header_list .header_menu_list button:hover {
    cursor: pointer;
}

header .header_list h1 {
    margin-top: 80px;
    /* 마진을 주는 방법말고 그 자체를 수직 중앙으로 적용하는 방법.. */
    font-size: 70px;
    font-family: Acme;
}

header .header_container form {
    margin: 0;
    padding: 0;
}

header .header_container .location, .search {
    height: 25px;
    padding: 14px;
    font-size: 14px;
    color: #c4c4c4;
    border-color: transparent; 
}

header .header_container .location {
    width: 200px;
    border-radius: 0.8ch 0ch 0ch 0.8ch;
}

header .header_container .search {
    width: 500px;
    border-radius: 0ch 0.8ch 0.8ch 0ch;
}

header .header_container span {
    width: 40px;
    height: 40px;
}




main {
    margin: 0 auto;
    background-color: rgb(254, 254, 254);
}

/* Menu */

main ul.menu {
    margin: 0 auto;
    width: 1100px;
    color: black;
    display: flex;
    margin-top: 30px;
}

main ul.menu li {
    position: relative; 
}

main section.menu ul.menu .explation {
    width: 308px;
    height: 62px;
    margin: 2px;
    padding: 14px 20px 10px 20px;
    color: black;
    position: absolute;
    top: 185px;
    left: 8px;
    background-color: white;
    border-radius: 0ch 0ch 1ch 1ch;
    border: 2px solid rgb(234, 234, 234);
}

main ul.menu img {
    width: 350px;
    height: 250px;
    margin: 25px 10px;
}

main section.menu ul.menu .explation p {
    margin-top: 5px;
    padding: 0;
}


/* Collections */
main .collections {
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 120px;
}

main .collections_explation {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 30px;
}

main .collections_explation p {
    margin-left: 0;
}

main .collections_explation a {
    margin-right: 0;
}

main .collections_explation a {
    color: rgb(243, 59, 59);
}

main ul.collections_menu {
    display: flex;
    margin: 0 auto;
}

main ul.collections_menu>li {
    position: relative;
}


main ul.collections_menu>li .img_gradient{
    background: linear-gradient(transparent, black);
    z-index: 3;
}

main ul.collections_menu img {
    width: 266px; 
    height: 320px;
    margin: 0 5px;
    border-radius: 0.7ch;
    z-index: -1;
}

main ul.collections_menu .collections_explation {
    color: white;
    display: block;
    position: absolute;
    top: 257px;
    left: 20px;
    padding-left: 3px;
}

main ul.collections_menu .collections_explation p {
    padding: 0;
    margin-top: 5px;
    font-size: 13px;
}


/* Popular localities in and around Raipur */
main .popular_localities{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
}

main .popular_localities nav {
    margin: 0 auto;
    display: flex;
}

main ul.popular_menu {
    display: inline-block;
}

main ul.popular_menu>li {
    width: 330px;
    height: 55px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    align-content: center;
    border-radius: 1ch;
    border: 2px solid rgb(235, 235, 235);
}

main ul.popular_menu>li:hover {
    box-shadow: 1px 1px 5px #ddd;
}

main ul.popular_menu h3 {
    margin: auto;
    padding-left: 10px;
    padding-top: 3px;
}

main ul.popular_menu p {
    padding-left: 10px;
    padding-top: 3px;
}

/* Get the Zomato app */
main .get_app {
    width: 1100;
    height: 500px;
    display: flex;
    background-color: rgb(255, 251, 245);
}

main .gettheapp {
    margin: auto;
    display: flex;
}

main .gettheapp aside {
    margin: auto;
    display: flex;
}

main .gettheapp aside img {
    width: 250px;
    margin-right: 30px;
}

main .app_menu {
    width: 480px;
    line-height: 2;
    /* background-color: red; */
}

main .app_menu header h2, p{
    padding: 0px;
    margin: 0px;
}

main .app_menu main {
    background-color: transparent;
}

main .app_menu div.app_radio {
    /* width: 0px; */
    margin: 12px 5px 0px 0px;
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0em;
}

main .app_menu div.app_radio span {
    margin-right: 15px;
    font-size: 15px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
}

main .app_menu div.app_radio [type="radio"] {
    vertical-align: middle;
    appearance: none; /* 라디오버튼 기본 스타일 없애기 */
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}

main .app_menu div.app_radio [type="radio"]:checked {
    border: 0.4em solid rgb(253, 88, 88);
    border-color: rgb(253, 88, 88);
}

main .app_menu div.app_radio [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted white;
    border-color: rgb(253, 88, 88);
}

main .app_menu div.app_radio [type="radio"]:hover {
    border-color: rgb(253, 88, 88);
    cursor: pointer;
    transition: none;   
}

main .app_menu div.app_radio [type="radio"]:disabled {
    background-color: rgb(225, 225, 225);
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

main .app_menu div.app_radio [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

main .app_menu form.app_input [type="text"] { 
    width: 280px;
    height: 50px;
    font-size: 16px;
    margin: 10px 5px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 0.7ch; 
    padding: 0px 10px;
}

main .app_menu form.app_input [type="text"]:focus-visible { 
    width: 280px;
    height: 50px;
    border: 2px solid green;
    border-radius: 0.7ch;
    outline: none;
}

main .app_menu form.app_input button { 
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: rgb(253, 88, 88);
    cursor: pointer;
    border: none;
    border-radius: 0.7ch;
}

main .app_menu form.app_input button:hover { 
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: rgb(230, 65, 65);
    cursor: pointer;
    border: none;
    border-radius: 0.7ch;
}

main div.app_menu main p {
    font-size: 15px;
    color: rgb(148, 148, 148);
}

main .app_menu nav.app_download img {
    width: 150px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 0.3ch;
}


/* Explore options near me */

main .explore_options {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 120px;
}

main .explore_options div {
    width: 1100px;
    margin: 25px 0px;
    padding: 23px;
    border: 1px solid lightgrey;
    border-radius: 1ch;
    /* background-color: ; */
    list-style: circle;
}

main .explore_options div h3 {
    font-size: 21px;
    margin-bottom: 20px;
    cursor: pointer;
}

main .explore_options ul {
    margin: 0px;
    padding: 0px;
    /* 가상요소써서 고치기 */
}

main .explore_options ul>li {
    color: black;
    display: inline;
    margin: 4px;
    list-style: circle;
    /* background-color: red; */
}

main .explore_options ul>li a {
    color: rgb(100, 100, 100);
    word-break: break-all;
}

main .explore_options ul>li a:hover {
    color: black;
}


/* Footer */
footer {
    background-color: rgb(248, 248, 248);
}

footer div.foot {
    width: 1100px;
    margin: 0 auto;
}

footer div.head {
    width: 100%;
    display: flex;
    padding: 60px 0px 0px 0px;
    top: 180px;
    left: 50%; 
}

footer div.head h2 {
  flex-grow: 1;
  margin: 0;
}

footer .select_btn {
    position: relative;
    text-align: right;
    top: -1;
    width: 120px;   
    border: 1px solid #c4c4c4;
    border-radius: 0.7ch;
    font-size: 18px;
    text-align: left;
    padding: 10px 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: transparent;
}

footer .select_btn:hover {
    cursor: pointer;
}

footer .country_list {
    width: 610px;
    padding: 10px;
    display: none;   
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 0.8ch;
    background-color: white;
    box-shadow: 10px 10px 40px #c1c1c1;
} 

footer .select_btn:active+.country_list {
    display: block;
}

footer .country_list li {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
    /* box-sizing: border-box;  */
}

footer .country_list li button {
    width: 140px;
    height: 33px;
    margin: 2px;
    text-align: left;
    font-size: 15px;  
    display: inline-block;        
    border: none;
    transition: all 0.1s;
    background-color: transparent;
}

footer .country_list li button:hover { 
    cursor: pointer;
    background-color: rgb(234, 234, 234);   
}

footer .langage_list {
    width: 165px;
    padding: 10px;
    display: none;   
    overflow: hidden;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 0.8ch;
    background-color: white;
    box-shadow: 10px 10px 40px #c1c1c1;
} 

footer .select_btn:active+.langage_list {
    display: block;
}

footer .langage_list li {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px;
    /* box-sizing: border-box;  */
}

footer .langage_list li button {
    width: 140px;
    height: 33px;
    margin: 2px;
    text-align: left;
    font-size: 15px;  
    display: inline-block;        
    border: none;
    transition: all 0.1s;
    background-color: transparent;
}

footer .langage_list li button:hover { 
    cursor: pointer;
    background-color: rgb(234, 234, 234);   
}

.footer_add ul.footer_explation {
    display: flex;
}

.footer_add ul.footer_explation>li {
    width: 210px;
    margin: 0px 10px 50px 10px; 
    line-height: 2;
}

.footer_add ul.footer_explation>li h4 {
    display: block;
    color: black;
    margin: 30px 0px 5px 0px; 
}

.footer_add ul.footer_explation>li a {
    font-size: 15px;
    color: rgb(77, 77, 77);
}

.footer_add ul.footer_explation>li a:hover {
    color: black;
}

/* .footer_add div.social {
    width: 80px;
    height: 80px; 
    border-radius: 100%;
    overflow: hidden;
} */

.footer_add div.social img {
    width: 20px;
    margin-right: 8px;
    border-radius: 100%;
    overflow: hidden;

}

.footer_add div.app_download img {
    width: 140px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 0.3ch;
}

footer hr {
    color: #f5f5f5;
}

footer p {
    margin-top: 20px;
    font-size: 13px;
}



