@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

/* 전체 설정 */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section {
  margin-bottom: 110px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  color: transparent;
}

img {
  border-radius: 1ch;
  object-fit: cover;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  text-align: left;
}

h3 {
  font-size: 18px;
}

.arrowRotate180 {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.arrowRotate0 {
  transform: rotate(0deg);
  transition: all 0.3s;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section {
  margin-bottom: 110px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  color: transparent;
}

img {
  border-radius: 1ch;
}

/* HEADER */
body .header_line header {
  width: 1100px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-position: center;
}

.header_line {
  height: 206px;
  border-bottom: 2px solid #f6f6f6;
}

header .header_top {
  display: flex;
  padding: 20px 20px 0px 0px;
}

header .header_top nav.header_menu {
  display: flex;
  float: center;
  width: 1100px;
  margin: 10px;
  font-size: 18px;
}

header .header_top .header_menu a {
  display: flex;
}

header .header_top .header_menu span {
  position: relative;
  width: 20px;
  margin-right: 10px;
}

header .header_top .header_menu_list {
  display: flex;
}

header .header_top .header_menu_list>li {
  margin: 0px 15px;
}

header .header_top .header_menu_list button {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  border: transparent;
  background-color: transparent;
}

header .header_top .header_menu_list button:hover {
  cursor: pointer;
}

header .header_top .header_menu_list .modal {
  position: absolute;
  top: 320px;
  left: 200px;
  width: 100vw;
}

header .header_top .header_menu_list .modal .login,
header .header_top .header_menu_list .modal .signup {
  display: none;
  width: 420px;
  height: 480px;
  position: absolute;
  top: 65%;
  left: 30%;
  padding: 23px;
  color: black;
  background-color: white;
  border-radius: 0.5ch;
  z-index: 9;
  animation: 0.3s scaleAnimation ease-in-out;
}

header .header_top .header_menu_list .modal_header {
  display: flex;
  position: relative;
}

header .header_top .header_menu_list .modal_header .modal_name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

header .header_top .header_menu_list .modal span#close {
  position: absolute;
  top: 10px;
  right: 0px;
  color: black;
  cursor: pointer;
}

header .header_top .modal button {
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  border-radius: 0.5ch;
}

header .header_top .modal .login_send {
  font-size: 16px;
  background-color: rgb(253, 88, 88);
  margin-bottom: 20px;
}

header .header_top .modal .login_send:hover {
  background-color: rgb(222, 74, 74);
}

header .header_top .modal .login_type {
  display: flex;
  position: relative;
  padding: 0px;
  border: 1px solid #d5d5d5;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.5ch;
  margin-bottom: 20px;
}

header .header_top .modal .login_type button {
  color: #707070;
}

header .header_top .modal .login_type span {
  position: absolute;
  top: 13px;
  left: 70px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

header .header_top .modal .login_type img {
  position: absolute;
  top: 13px;
  left: 75px;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

header .header_top .header_menu_list .login_footer {
  display: flex;
}

header .header_top .header_menu_list .modal .dividing_line {
  color: #dbdbdb;
  margin-bottom: 20px;
}

header .header_top .header_menu_list .login_footer p:last-child {
  margin-left: 10px;
  color: red;
}

header .header_top .header_menu_list input#modal_input {
  width: 94%;
  height: 50px;
  /* color: ; */
  font-size: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #d5d5d5;
  border-radius: 0.5ch;
}

header .header_top .header_menu_list input#modal_input:focus-visible {
  border: 2px solid green;
}

header .header_top .header_menu_list .agree {
  display: flex;
}

header .header_top .header_menu_list input#agree {
  margin-left: 5px;
  width: 20px;
}

header .header_top .header_menu_list .agree p {
  font-size: 12px;
  margin-left: 11px;
  text-align: left;
}

header .header_top .header_menu_list strong {
  color: rgb(253, 88, 88);
}

header .header_top .header_menu_list .account {
  font-size: 16px;
  margin: 20px 0px;
  background-color: lightgray;
}

header .header_top h1 {
  margin-top: 80px;
  /* 마진을 주는 방법말고 그 자체를 수직 중앙으로 적용하는 방법.. */
  font-size: 70px;
  font-family: Acme;
}

header form.header_input {
  position: relative;
  display: flex;
  width: 670px;
  height: 50px;
  margin: 0px 30px;
  padding: 0;
  border-radius: 0.5ch;
  box-shadow: 2px 2px 10px #eaeaea;
}

header .modal .header_phone {
  display: inline-block;
  width: 100%;
}

header .modal .header_phone .header_phone_select {
  position: relative;
  display: inline;
  cursor: pointer;
  z-index: 9;
}

header .modal .header_phone .header_phone_pre {
  position: absolute;
  display: inline;
  /* background-color: red; */
}

header .modal .header_phone .header_phone_btn {
  position: absolute;
  top: -11px;
  width: 84px;
  height: 53.3px;
  padding-right: 20px;
  font-size: 16px;
  text-align: center;
  margin: 10px 5px 10px 0px;
  vertical-align: middle;
  color: rgb(29, 29, 29);
  border: 2px solid transparent;
  background-color: transparent;
}

header .modal .header_phone .header_phone_pre span {
  position: absolute;
  top: 15px;
  left: 47px;
}

header .modal .header_phone .header_phone_btn:hover {
  cursor: pointer;
  /* border: 2px solid green; */
}

header .modal .header_phone ul {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 80px;
  height: 200px;
  border-radius: 1ch;
  box-shadow: 1px 1px 5px #ddd;
  overflow-y: scroll;
}

header .modal .header_phone ul>li {
  display: block;
  width: 60px;
  text-align: center;
  padding-right: 10px;
  color: rgb(33, 33, 33);
  background-color: white;
  top: 15px;
  right: 15px;
}

header .modal .header_phone ul>li:hover {
  background-color: #dadada;
}

header .modal #header_phone {
  width: 337px;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding-left: 80px;
  border: 1px solid #d5d5d5;
  text-align: left;
  border-radius: 0.5ch;
  margin-bottom: 20px;
}

header .modal #header_phone:focus-visible {
  border: 2px solid green;
}

header .location_hidden {
  display: none;
  position: absolute;
  top: 63px;
  left: 180px;
  width: 330px;
  height: 45px;
  font-weight: 200;
  color: rgb(253, 88, 88);
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 0.7ch;
}

header .location_hidden:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

header .location_hidden span {
  /* position: absolute; */
  width: 5px;
  height: 5px;
}

header .location_hidden h4 {
  padding-left: 40px;
}

header .location_hidden p {
  color: #959595;
  font-size: 13px;
  padding-left: 40px;
}

header input:focus {
  outline: none;
}

header span {
  width: 40px;
  height: 40px;
}

header form #location_icon {
  display: inline;
  color: rgb(255, 127, 127);
  top: 12px;
}

header form #arrow_icon {
  display: inline;
  color: rgb(88, 88, 88);
  top: 12px;
  margin-left: 205px;
  cursor: pointer;
}

header form #search_icon {
  position: absolute;
  margin-left: 6px;
  display: inline;
  color: rgb(151, 151, 151);
  top: 12px;
  left: 245px;
}

header input.location,
header input.search {
  height: 25px;
  font-size: 14px;
  border-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

header input.location {
  width: 200px;
  padding-left: 40px;
  border-radius: 0.8ch 0ch 0ch 0.8ch;
}

header .search {
  width: 500px;
  padding-left: 80px;
  margin: 10px;
  border-radius: 0ch 0.8ch 0.8ch 0ch;
}

/* location */
header .location {
  display: flex;
  padding: 0px;
  margin: 10px 0px;
  width: 100%;
  font-size: 12px;
}

header .location p {
  margin: 0px 5px;
  padding: 0px;
}

header .location p:last-child {
  color: #b8b8b8;
}

/* Section Location */
section.location p:first-child a:hover,
section.location p:nth-child(3) a:hover {
  color: rgb(253, 88, 88);
}

/* Eating form */
header .eating_form {
  display: flex;
  width: 100%;
}

header .eating_form a {
  display: flex;
  padding: 10px 20px 15px 20px;
}

header .eating_form a.page_on {
  border-bottom: 2.5px solid rgb(253, 88, 88);
}

header .eating_form div {
  height: 60px;
  width: 60px;
  border-radius: 50ch;
  background-color: rgba(244, 244, 244, 0.594);
}

header .eating_form a.page_on div.order {
  background-color: rgba(246, 205, 0, 0.35);
}

header .eating_form a.page_on div.dining {
  background-color: rgba(90, 199, 229, 0.183);
}

header .eating_form a.page_on div.nightlife {
  background-color: rgba(64, 134, 255, 0.107);
}

header .eating_form img {
  height: 30px;
  padding-top: 13px;
}

header .eating_form h3 {
  margin-left: 10px;
  padding-top: 16px;
  font-weight: 600;
}

header .eating_form a.page_on h3 {
  color: rgb(253, 88, 88);
}

/* MAIN */
main {
  margin: 0 auto;
  background-color: rgb(254, 254, 254);
}

/* Page UP */
main span#page_up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  color: white;
  padding: 20px 25px 25px 20px;
  border-radius: 10ch;
  background-color: rgb(253, 88, 88);
  z-index: 9;
  cursor: pointer;
}

/* Collections */
main .collections_background {
  height: 473px;
  padding-top: 18px;
  background-color: #f5f5f5;
}

main .collections {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  margin-bottom: 40px;
}

main .collections_explation {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 30px;
}

main .collections_explation p {
  margin-left: 0;
}

main .collections_explation a {
  margin-right: 0;
}

main .collections_explation a {
  color: rgb(243, 59, 59);
  font-weight: 400;
}

main ul.collections_menu,
main ul#collections_menu {
  display: flex;
  margin: 0 auto;
}

main ul.collections_menu>li,
main ul#collections_menu>li {
  position: relative;
}

main ul.collections_menu div,
main ul#collections_menu div {
  width: 260px;
  height: 320px;
  display: block;
  margin: 0px 10px;
  border-radius: 0.8ch;
  background-size: cover;
  background-repeat: no-repeat;
  animation: 0.5s blurAnimation ease-in-out;
}

main ul.collections_menu li:first-child div,
main ul#collections_menu li:first-child div {
  margin: 0px 10px 0px 0px;
}

main ul.collections_menu .collections_explationOne,
main ul#collections_menu .collections_explationOne {
  background-image:
    linear-gradient(transparent 50%, black),
    url("../../images/collections4.jpg");
}

main ul.collections_menu .collections_explationTwo,
main ul#collections_menu .collections_explationTwo {
  background-image:
    linear-gradient(transparent 50%, black),
    url("../../images/collections2.jpg");
}

main ul.collections_menu .collections_explationThr,
main ul#collections_menu .collections_explationThr {
  background-image:
    linear-gradient(transparent 50%, black),
    url("../../images/collections3.jpg");
}

main ul.collections_menu .collections_explationFor,
main ul#collections_menu .collections_explationFor {
  background-image:
    linear-gradient(transparent 50%, black),
    url("../../images/collections1.jpg");
}

main ul.collections_menu>li.collections_menu_list>a h3,
main ul#collections_menu>li#collections_menu_list>a h3 {
  color: white;
  position: absolute;
  padding-left: 3px;
  font-weight: 300;
  top: 257px;
  left: 20px;
}

main ul.collections_menu>li.collections_menu_list>a p,
main ul#collections_menu>li#collections_menu_list>a p {
  color: white;
  position: absolute;
  top: 283px;
  left: 20px;
  padding-left: 3px;
  margin-top: 5px;
  font-size: 13px;
}

main .arrow span {
  position: absolute;
  top: 250px;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50ch;
  background-color: white;
  box-shadow: 1px 1px 10px #949494;
  cursor: pointer;
  z-index: 9;
}

main .arrow div.swiper-prev span {
  left: -18px;
}

main .arrow div.swiper-next span {
  left: 1080px;
}

/* Filter */
main .filter_type {
  margin: auto;
  width: 1100px;
}

main .filter_type button {
  position: relative;
  display: inline-block;
  height: 35px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #939393;
  margin: 30px 5px;
  padding: 0px 10px;
  text-align: center;
  background-color: white;
  border: 0.2px solid #bdbdbd;
  border-radius: 1ch;
}

main .filter_type button:hover {
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

main .filter_type button:first-child {
  margin-left: 0px;
  padding-left: 35px;
}

main .filter_type button:first-child span {
  position: absolute;
  top: 5px;
  left: 5px;
}

main .filter_type button.icon_left p {
  padding-left: 25px;
}

main .filter_type button.icon_right p {
  padding-right: 25px;
}

main .filter_type button.icon_left span,
main .filter_type button.icon_right span {
  position: absolute;
  top: 6px;
}

main .filter_type button.icon_left span {
  left: 5px;
}

main .filter_type button.icon_right span {
  right: 5px;
}

/* End of search results */
main .end_result {
  display: flex;
  height: 250px;
  padding-top: 50px;
  justify-content: center;
}

main .end_result h2 {
  padding-top: 45px;
  margin-right: 70px;
}

main .end_result img {
  width: 120px;
  height: 120px;
}

/* Explore options near me */
main .explore_options {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 120px;
}

main .explore_options header {
  width: 1100px;
  height: 0px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: left;
}

main .explore_options .explore {
  width: 1050px;
  margin: 25px 0px;
  padding: 23px;
  border: 1px solid lightgrey;
  border-radius: 1ch;
  list-style: circle;
  position: relative;
}

main .explore_options .explore h3 {
  font-size: 21px;
  margin: 0px 0px 0px 3px;
  cursor: pointer;
}

main .explore_options .explore span {
  right: 25px;
  top: 28px;
}

main .explore_options ul {
  margin: 0px;
  padding: 0px;
}

main .explore_options ul>li {
  color: black;
  display: none;
  list-style: circle;
}

main .explore_options ul>li a#firstLi {
  display: inline-block;
  margin-top: 30px;
}

main .explore_options ul>li a {
  word-break: break-all;
  /* 한 문단씩 끊기는 특성 없애기 */
  color: rgb(104, 104, 104);
  line-height: 30px;
}

main .explore_options ul>li a:hover {
  color: black;
}

main .explore_options .explore_popular ul>li a::after {
  content: "•";
}

main .explore_options .explore_popular ul>li:last-child a::after {
  content: "";
}

main .explore_options .cuisines,
.restaurant,
.cities {
  cursor: pointer;
}

main .explore_options .explore_cities ul>li {
  margin-bottom: 14px;
  position: relative;
  width: 205px;
  display: none;
  align-content: center;
}

main .explore_options .explore_cities ul>li:last-child a {
  font-weight: 600;
  color: black;
  text-decoration: underline 2px;
}