@import url('./common.css');
@import url('./filter-modal.css');

/* Best Dining Restaurants near you in Delhi NCR */
main .best {
  position: relative;
  padding: 15px 0px;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

main .best ul {
  display: inline-block;
  text-align: center;
}

main .best ul>li {
  width: 29.3%;
  padding: 10px;
  margin: 20px 10px;
  display: inline-block;
  vertical-align: top;
}

main .best ul>li:hover {
  border-radius: 1ch;
  box-shadow: 3px 3px 15px #d8d8d8;
}

main .best ul>li {
  position: relative;
}

main .best ul>li img:first-child {
  width: 320px;
  height: 250px;
}

main .best ul>li .contents img:first-child {
  width: 50px;
  height: 18px;
  margin: 10px 7px 0px 0px;
  object-fit: cover;
}

main .best ul>li img.max_safety {
  /* position: relative; */
  width: 50px;
  height: 18px;
  margin-top: 13px;
  border-radius: 0px;
}

main .best ul>li a p {
  padding: 0px;
  margin: 2px 0px;
  font-size: 13px;
  color: rgb(141, 141, 141);
}

main .best ul>li a p.sale {
  position: absolute;
  top: 225px;
  width: 130px;
  color: white;
  font-size: 14px;
  padding: 0px 5px;
  border-radius: 0ch 0.5ch 0.5ch 0ch;
  background-color: rgb(20, 110, 255);
}

main .best ul>li a p.time,
main .best ul>li a p.distance {
  position: absolute;
  top: 225px;
  right: 25px;
  color: black;
  font-weight: 500;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 0.5ch;
  background-color: rgba(238, 238, 238, 0.919);
}

main .best ul>li a p.grade {
  padding: 2px 4px;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 12px;
  border-radius: 0.5ch;
  background-color: green;
}

main .best ul>li a p.type {
  color: rgb(86, 86, 86);
}

main .best ul>li a p.closed {
  color: red
}

main .best ul>li a p {
  text-align: left;
}

main .best ul>li .contents {
  display: flex;
  justify-content: space-between;
}

main .best ul>li .contents:last-child p {
  font-size: 12px;
  color: rgb(93, 93, 93);
  text-align: left;
}