@import url('./common.css');
@import url('./filter-modal.css');

.show {
    display: block;
}

/* Inspiration, Top brands */
main .inspiration,
main .top_brands,
main .order_food {
    position: relative;
    padding: 35px 0px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

main .inspiration,
main .top_brands {
    overflow: hidden;
}

main .insp_background,
main .brands_background {
    height: 330px;
}

main .insp_background {
    background-color: #f5f5f5;
}

main .insp_background .arrow,
main .brands_background .arrow {
    position: absolute;
    top: 23%;
    left: 5.5%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
}

main .brands_background .arrow {
    top: 61%;
}

main .insp_background .arrow .swiper-prev,
main .insp_background .arrow .swiper-next,
main .brands_background .arrow .swiper-prev,
main .brands_background .arrow .swiper-next {
    position: absolute;
    transform: translateY(-50%);
    pointer-events: auto;
    left: 0;
    margin-left: calc((100% - 1200px) / 2 - 40px);
}

main .insp_background .arrow .swiper-prev span,
main .insp_background .arrow .swiper-next span,
main .brands_background .arrow .swiper-prev span,
main .brands_background .arrow .swiper-next span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 10px #949494;
    cursor: pointer;
    z-index: 11;
}

main .inspiration h2,
.top_brands h2,
.order_food h2 {
    font-size: 27px;
}

main .inspiration ul,
.top_brands ul {
    display: flex;
}

main .inspiration ul>li,
.top_brands ul>li {
    margin: 0px 20px;
    text-align: center;
}

main .inspiration ul>li:first-child,
.top_brands ul>li:first-child {
    margin-left: 0px;
}

main .inspiration ul img,
.top_brands ul img {
    height: 150px;
    padding: 5px 0px;
    border-radius: 10ch;
}

main .top_brands ul img {
    box-shadow: 2px 2px 10px #e8e8e8;
}

main .inspiration ul p,
.top_brands ul p {
    padding: 0px;
}

/* Order food online */
main .order_food ul {
    display: inline-block;
    text-align: center;
}

main .order_food ul>li {
    width: 29.3%;
    padding: 10px;
    margin: 20px 10px;
    display: inline-block;
}

main .order_food ul>li:hover {
    border-radius: 1ch;
    box-shadow: 3px 3px 15px #d8d8d8;
}

main .order_food ul>li {
    position: relative;
}

main .order_food ul>li img:first-child {
    width: 320px;
    height: 250px;
}

main .order_food ul>li .contents img:first-child {
    width: 20px;
    height: 20px;
    margin: 10px 7px 0px 0px;
    object-fit: cover;
}

main .order_food ul>li img:last-child {
    /* position: relative; */
    width: 50px;
    height: 18px;
    margin-top: 13px;
    border-radius: 0px;
}

main .order_food ul>li a p {
    padding: 0px;
    margin: 5px 0px;
    font-size: 13px;
}

main .order_food ul>li a p.sale {
    position: absolute;
    top: 225px;
    color: white;
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 0ch 0.5ch 0.5ch 0ch;
    background-color: rgb(20, 110, 255);
}

main .order_food ul>li a p.time {
    position: absolute;
    top: 225px;
    right: 25px;
    font-weight: 600;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 0.5ch;
    background-color: rgba(255, 255, 255, 0.707);
}

main .order_food ul>li a p.grade {
    width: 40px;
    padding: 2px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 12px;
    border-radius: 0.5ch;
    background-color: green;
}

main .order_food ul>li .contents {
    display: flex;
    justify-content: space-between;
}

main .order_food ul>li .contents:last-child p {
    font-size: 12px;
    color: rgb(93, 93, 93);
    text-align: left;
}

.filter_type {
    position: relative;
}

/* CUISINES */
.filter_type .cuisines_option,
.filter_type .more_filters_option {
    position: absolute;
    top: 78px;
    left: 310px;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 0px 20px 10px #00000012;
    border-radius: 10px;
}

.filter_type .cuisines_option {
    display: none;
    width: 510px;
    height: 464px;
}

.filter_type .more_filters_option {
    display: none;
    left: 425px;
    width: 500px;
    height: 320px;
}

.filter_type .cuisines_option h3,
.filter_type .more_filters_option h3 {
    font-size: 23px;
    margin: 25px 30px 15px 30px;
}

main .cuisines_option .search,
main .more_filters_option .search {
    position: relative;
    color: #dedede;
}

main .cuisines_option .search input,
main .more_filters_option .search input {
    width: 382px;
    height: 40px;
    font-size: 18px;
    margin-left: 25px;
    padding: 2px 20px 2px 45px;
    border: 2px solid #dedede;
    border-radius: 5px;
}

main .cuisines_option .search input:focus,
main .more_filters_option .search input:focus {
    border: 2px solid #000;
}

main .cuisines_option .search span,
main .more_filters_option .search span {
    position: absolute;
    top: 12px;
    left: 40px;
}

main .cuisines_option .search span#close,
main .more_filters_option .search span#close {
    left: 435px;
    cursor: pointer;
}

main .cuisines_option ul,
main .more_filters_option ul {
    width: 90%;
    height: 230px;
    margin: 9px 5px 25px 23px;
    /* background-color: red; */
    overflow: scroll;
    overflow-x: hidden;
}

main .more_filters_option ul {
    height: 85px;
    overflow-y: hidden;
}

main .cuisines_option ul>li,
main .more_filters_option ul>li {
    display: inline-block;
    width: 45%;
    color: #000;
    margin: 15px 5px 10px 5px;
    /* background-color: yellow; */
}

main .cuisines_option ul>li input[type="checkbox"],
main .more_filters_option ul>li input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

main .filter_type hr {
    border: 1px solid #f2f2f2;
}

/* MODAL FOOTER */
.filter_type .cuisines_footer {
    text-align: right;
    margin: 12px 10px 0px 0px;
}

main .filter_type .cuisines_footer button {
    height: 45px;
    margin: 5px 3px;
    padding: 15px 33px;
    border: 0px;
    border-radius: 5px;
    color: #000;
    background-color: #f9f9f9;
}

main .filter_type .cuisines_footer button:hover {
    background-color: #eee;
}

main .filter_type .cuisines_footer button:last-child {
    color: white;
    margin-right: 20px;
    border: 0px;
    background-color: #f45d5d;
}

main .filter_type .cuisines_footer button:last-child:hover {
    background-color: #f04343;
}