@import url('./filter-modal.css');

// 변수
$color-black: #000;
$color-white: #fff;
$color-accent: rgb(200, 50, 50);
$color-accent-hover: rgb(180, 40, 40);
$color-border: #d5d5d5;
$color-border-light: #f6f6f6;
$color-text-gray: rgb(90, 90, 90);
$color-shadow: #949494;

$font-primary: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-bold: 700;

$max-width: 1100px;
$border-radius-small: 0.5ch;
$border-radius-medium: 0.7ch;
$border-radius-large: 1ch;

$transition-default: 0.3s ease;

// 키프레임
@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(100%);
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

// 믹스인
@mixin borderRadius($radius: 0.5ch) {
  border-radius: $radius;
}

@mixin boxShadow($x: 1px, $y: 1px, $blur: 10px, $col: #eaeaea) {
  box-shadow: $x $y $blur $col;
}

@mixin inputFocusGreen {
  &:focus {
    outline: none;
    border: 2px solid green !important;
  }
}

// 전체 설정
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $font-primary;
  line-height: 1.4;
  font-weight: $font-weight-light;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section {
  margin-bottom: 110px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  color: transparent;
}

img {
  border-radius: $border-radius-large;
  object-fit: cover;
}

h2 {
  font-size: 30px;
  font-weight: $font-weight-bold;
  text-align: left;
}

h3 {
  font-size: 18px;
}

.arrow {
  &Rotate180 {
    transform: rotate(180deg);
    transition: all 0.3s;
  }

  &Rotate0 {
    transform: rotate(0deg);
    transition: all 0.3s;
  }
}

.show {
  display: block;
}

// header
.header_line {
  height: 206px;
  border-bottom: 2px solid $color-border-light;

  header {
    width: $max-width;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-position: center;

    input:focus {
      outline: none;
    }

    span {
      width: 40px;
      height: 40px;
    }

    .header_top {
      display: flex;
      padding: 20px 20px 0 0;

      form.header_input {
        position: relative;
        display: flex;
        width: 670px;
        height: 50px;
        margin: 0px 30px;
        padding: 0;
        @include borderRadius();
        @include boxShadow(2px, 2px, 10px, #eaeaea);

        #location_icon {
          display: inline;
          color: rgb(255, 127, 127);
          position: relative;
          top: 12px;
          margin-left: 15px;
        }

        #arrow_icon {
          display: inline;
          color: rgb(88, 88, 88);
          position: relative;
          top: 12px;
          margin-left: 200px;
          cursor: pointer;
        }

        #search_icon {
          position: absolute;
          height: 25px;
          margin-left: 30px;
          display: inline;
          color: rgb(151, 151, 151);
          top: 12px;
          left: 245px;
          border-left: 1px solid rgb(151, 151, 151);
        }

        input.location,
        input.search {
          height: 25px;
          font-size: 14px;
          border-color: transparent;
          font-family: $font-primary;
        }

        input.location {
          width: 250px;
          margin-left: -220px;
          border-radius: 0.8ch 0ch 0ch 0.8ch;
        }

        .search {
          width: 500px;
          padding-left: 85px;
          margin: 9px 5px;
          border-radius: 0ch 0.8ch 0.8ch 0ch;
        }

        .location_hidden {
          display: none;
          position: absolute;
          top: 63px;
          left: 180px;
          width: 330px;
          height: 45px;
          font-weight: 200;
          color: rgb(253, 88, 88);
          padding: 20px;
          text-align: left;
          background-color: $color-white;
          @include borderRadius($border-radius-medium);

          &:hover {
            background-color: $color-border-light;
            cursor: pointer;
          }

          span {
            width: 5px;
            height: 5px;
          }

          h3 {
            font-size: 16px;
            padding-left: 40px;
          }

          p {
            color: $color-text-gray;
            font-size: 13px;
            padding-left: 40px;
          }
        }
      }

      nav.header_menu {
        display: flex;
        float: center;
        width: $max-width;
        margin: 10px;
        font-size: 18px;

        a {
          display: flex;
        }

        span {
          position: relative;
          width: 20px;
          margin-right: 10px;
        }

        .header_menu_list {
          display: flex;

          > li {
            margin: 0px 15px;
          }

          button {
            margin: 0;
            font-size: 18px;
            font-weight: $font-weight-light;
            font-family: $font-primary;
            border: transparent;
            background-color: transparent;

            &:hover {
              cursor: pointer;
            }
          }

          .modal_overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 12;
          }

          .modal {
            .login,
            .signup {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 420px;
              max-width: 100%;
              padding: 25px;
              color: $color-black;
              background-color: $color-white;
              z-index: 99;
              animation: scaleAnimation 0.3s ease-in-out;
              @include borderRadius();
            }

            .modal_header {
              display: flex;
              position: relative;

              .modal_name {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 30px;
              }
            }

            .modal_fullname,
            .modal_email {
              position: relative;
              display: inline-block;
              width: 100%;
              align-items: center;
              vertical-align: middle;
              gap: 10px;
              box-sizing: border-box;

              #fullname,
              #email {
                width: 100%;
                height: 50px;
                font-size: 16px;
                border: 2px solid #ddd;
                border-radius: 5px;
                margin-bottom: 30px;
                padding: 10px;
                outline: none;
                box-sizing: border-box;
                transition: border-color $transition-default;

                &:focus + .fullname-label,
                &:focus + .email-label,
                &:not(:placeholder-shown) + .fullname-label,
                &:not(:placeholder-shown) + .email-label {
                  top: -30%;
                  left: 10px;
                  color: green;
                  font-size: 10px;
                  transform: translateY(0);
                }
              }

              input {
                width: 100%;
                height: 50px;
                font-size: 16px;
                border: 2px solid #ddd;
                border-radius: 5px;
                margin-bottom: 30px;
                padding: 10px;
                box-sizing: border-box;
                transition: border-color $transition-default;
                @include inputFocusGreen;

                &::placeholder {
                  font-family: $font-primary;
                  font-size: 16px;
                }
              }

              label {
                position: absolute;
                top: 7%;
                left: 15px;
                margin: 20px 0px;
                padding: 0 4px;
                color: $color-text-gray;
                background-color: $color-white;
                z-index: 999;
                pointer-events: none;
                transition: all $transition-default;
                transform: translateY(-50%);
              }

              .fullname_error_message,
              .email_error_message {
                display: none;
                position: absolute;
                top: 65%;
                left: -35%;
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 10px;
                color: red;
              }

              .email_error_message {
                left: -41%;
              }
            }

            span#close {
              position: absolute;
              top: 10px;
              right: 0px;
              color: $color-black;
              cursor: pointer;
            }

            button {
              width: 100%;
              height: 50px;
              color: $color-white;
              text-align: center;
              @include borderRadius();
            }

            .login_send {
              font-size: 16px;
              background-color: rgb(253, 88, 88);
              margin-bottom: 20px;

              &:hover {
                background-color: rgb(222, 74, 74);
              }
            }

            .login_type {
              display: flex;
              position: relative;
              padding: 0;
              border: 1px solid $color-border;
              background-color: $color-white;
              text-align: center;
              vertical-align: middle;
              border-radius: 0.5ch;
              margin-bottom: 20px;

              button {
                color: #707070;
              }

              span,
              img {
                position: absolute;
                top: 13px;
                margin-right: 20px;
              }

              span {
                left: 70px;
                width: 50px;
                height: 50px;
              }

              img {
                left: 75px;
                width: 25px;
                height: 25px;
              }
            }

            .login_footer {
              display: flex;

              p:last-child {
                margin-left: 10px;
                color: red;
                cursor: pointer;
              }
            }

            .dividing_line {
              color: #dbdbdb;
              margin-bottom: 20px;
            }

            input#modal_input {
              width: 94%;
              height: 50px;
              font-size: 16px;
              font-family: $font-primary;
              margin-bottom: 20px;
              padding-left: 20px;
              border: 1px solid $color-border;
              @include borderRadius();

              &:focus-visible {
                border: 2px solid green;
              }
            }

            .agree {
              display: flex;

              strong {
                color: rgb(253, 88, 88);
              }

              input#agree {
                position: relative;
                margin-left: 5px;
                width: 18px;
                height: 18px;
                border: 2px solid #ddd;
                border-radius: 3px;
                background-color: $color-white;
                appearance: none; /* 기본 체크박스 스타일 제거 */
                cursor: pointer;

                &:hover {
                  border: 2px solid rgb(253, 88, 88);
                }

                &:checked {
                  border: 2px solid rgb(253, 88, 88);
                  background-color: transparent;

                  &::after {
                    content: '✓';
                    color: rgb(253, 88, 88);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }

              p {
                font-size: 12px;
                margin-left: 11px;
                text-align: left;
              }
            }

            .account_btn {
              height: 50px;
              font-family: $font-primary;
              font-size: 16px;
              font-weight: $font-weight-light;
              color: $color-white;
              background-color: rgb(253, 88, 88);
              cursor: pointer;
              border: none;
              border-radius: borderRadius($border-radius-medium);
              margin: 20px 0;

              &:hover {
                background-color: rgb(230, 65, 65);
              }

              &:disabled {
                color: $color-white;
                cursor: not-allowed;
                background-color: #ddd;
              }
            }

            .header_phone {
              position: relative;
              display: inline-block;
              width: 100%;
              height: 49.99px;
              margin-bottom: 20px;

              .header_phone_select {
                position: absolute;
                left: 0;
                top: 10px;
                display: flex;
                height: 55%;
                cursor: pointer;
                align-items: center;
                border-right: 1px solid $color-border;
                z-index: 2;

                .header_phone_pre {
                  display: flex;
                  align-items: center;
                  margin-left: 10px;

                  span {
                    margin-left: 5px;
                    padding-top: 18px;
                    cursor: pointer;
                    transition: transform 0.2s ease;
                    transform-origin: center;
                  }


                  &.spin {
                    span {
                      transform: rotate(180deg);
                    }
                  }

                  .header_phone_btn {
                    font-size: 16px;
                    text-align: center;
                    vertical-align: middle;
                    color: rgb(29, 29, 29);
                    border: 2px solid transparent;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }

                ul {
                  display: none;
                  position: absolute;
                  top: 40px;
                  left: 0px;
                  width: 80px;
                  height: 200px;
                  border-radius: $border-radius-large;
                  box-shadow: 1px 1px 5px #ddd;
                  overflow-y: scroll;

                  > li {
                    display: block;
                    width: 60px;
                    text-align: center;
                    padding-right: 10px;
                    color: rgb(33, 33, 33);
                    background-color: white;
                    top: 15px;
                    right: 15px;

                    &:hover {
                      background-color: #dadada;
                    }
                  }
                }
              }

              input#header_phone {
                width: 100%;
                height: 100%;
                padding-left: 90px;
                border: 1px solid $color-border;
                text-align: left;
                z-index: 1;
                box-sizing: border-box;
                font-family: $font-primary;
                font-size: 16px;
                @include borderRadius();
                @include inputFocusGreen;
              }
            }
          }
        }
      }
    }

    .location {
      display: flex;
      padding: 0px;
      margin: 10px 0px;
      width: 100%;
      font-size: 12px;

      p {
        margin: 0 5px;
        padding: 0;

        &:last-child {
          color: #b8b8b8;
        }

        &:first-child a:hover,
        &:nth-child(3) a:hover {
          color: rgb(253, 88, 88);
        }
      }
    }

    .eating_form {
      display: flex;
      width: 100%;

      a {
        display: flex;
        padding: 10px 20px 7px 20px;

        &.page_on {
          border-bottom: 2.5px solid rgb(253, 88, 88);

          h3 {
            color: rgb(253, 88, 88);
          }

          div.order {
            background-color: rgba(246, 205, 0, 0.35);
          }
          div.dining {
            background-color: rgba(90, 199, 229, 0.183);
          }
          div.nightlife {
            background-color: rgba(64, 134, 255, 0.107);
          }
        }

        div {
          height: 60px;
          width: 60px;
          border-radius: 50ch;
          background-color: rgba(244, 244, 244, 0.594);
        }

        img {
          height: 30px;
          padding-top: 13px;
        }

        h3 {
          margin-left: 10px;
          padding-top: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

// main
main {
  margin: 0 auto;
  background-color: rgb(254, 254, 254);

  span#page_up {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    color: $color-white;
    padding: 20px 25px 25px 20px;
    @include borderRadius(10ch);
    background-color: $color-accent;
    z-index: 9;
    cursor: pointer;
    transition: opacity $transition-default;

    &.show {
      display: block;
    }
  }

  // Collections
  .collections_background {
    position: relative;
    height: 473px;
    padding-top: 18px;
    background-color: #f5f5f5;

    .collections {
      position: relative;
      margin: 0 auto;
      width: $max-width;
      margin-bottom: 40px;
      overflow: hidden;

      .collections_explation {
        display: flex;
        justify-content: space-between;
        margin: 5px 0 30px 0;

        p {
          margin-left: 0;
        }

        a {
          margin-right: 0;
          color: $color-accent;
          font-weight: 400;
        }
      }

      ul.collections_menu,
      ul#collections_menu {
        display: flex;
        margin: 0 auto;

        > li {
          position: relative;

          &:first-child div {
            margin: 0px 10px 0px 0px;
          }
        }

        div {
          width: 260px;
          height: 320px;
          display: block;
          margin: 0px 10px;
          @include borderRadius(0.8ch);
          background-size: cover;
          background-repeat: no-repeat;
          animation: blurAnimation 0.5s ease-in-out;
        }

        .collections_explationOne {
          background-image: linear-gradient(transparent 50%, black), url("../../images/collections4.webp");
        }
        .collections_explationTwo {
          background-image: linear-gradient(transparent 50%, black), url("../../images/collections2.webp");
        }
        .collections_explationThr {
          background-image: linear-gradient(transparent 50%, black), url("../../images/collections3.webp");
        }
        .collections_explationFor {
          background-image: linear-gradient(transparent 50%, black), url("../../images/collections1.webp");
        }

        li.collections_menu_list > a,
        li#collections_menu_list > a {
          h3 {
            color: $color-white;
            position: absolute;
            padding-left: 3px;
            font-weight: $font-weight-light;
            top: 257px;
            left: 20px;
          }

          p {
            color: $color-white;
            position: absolute;
            top: 283px;
            left: 20px;
            padding-left: 3px;
            margin-top: 5px;
            font-size: 13px;
          }
        }
      }
    }

    .arrow {
      position: absolute;
      top: 7%;
      left: 17%;

      span {
        position: absolute;
        top: 250px;
        width: 25px;
        height: 25px;
        padding: 5px;
        @include borderRadius(50ch);
        background-color: $color-white;
        box-shadow: 1px 1px 10px $color-shadow;
        cursor: pointer;
        z-index: 9;
      }

      .swiper-prev {
        span {
          left: -18px;
        }
      }

      .swiper-next {
        span {
          left: 1080px;
        }
      }
    }
  }

  // Filter
  .filter_type {
    position: relative;
    margin: auto;
    width: $max-width;

    hr {
      border: 1px solid #f2f2f2;
    }

    button {
      position: relative;
      display: inline-block;
      height: 35px;
      font-weight: $font-weight-light;
      font-family: $font-primary;
      color: #939393;
      margin: 30px 5px;
      padding: 0px 10px;
      text-align: center;
      background-color: $color-white;
      border: 0.2px solid #bdbdbd;
      @include borderRadius($border-radius-large);

      &:hover {
        background-color: rgb(248, 248, 248);
        cursor: pointer;
      }

      &:first-child {
        margin-left: 0px;
        padding-left: 35px;

        span {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      &.icon_left p {
        padding-left: 25px;
      }

      &.icon_right p {
        padding-right: 25px;
      }

      &.icon_left span,
      &.icon_right span {
        position: absolute;
        top: 6px;
      }

      &.icon_left span {
        left: 5px;
      }

      &.icon_right span {
        right: 5px;
      }
    }

    // cuisines_option
    .cuisines_option {
      position: absolute;
      top: 78px;
      left: 310px;
      background-color: $color-white;
      z-index: 9;
      box-shadow: 0px 0px 20px 10px #00000012;
      border-radius: 10px;
      display: none;
      width: 510px;
      height: 464px;

      h3 {
        font-size: 23px;
        margin: 25px 30px 15px 30px;
      }

      .search {
        position: relative;
        color: #ddd;

        input {
          width: 382px;
          height: 40px;
          font-size: 18px;
          margin-left: 25px;
          padding: 2px 20px 2px 55px;
          border: 2px solid #ddd;
          @include borderRadius(5px);

          &::placeholder {
            font-family: $font-primary;
          }

          &:focus {
            border: 2px solid $color-black;
            outline: none;
          }
        }

        span {
          position: absolute;
          top: 12px;
          left: 40px;
          color: #8d8d8d;

          &#close {
            left: 435px;
            cursor: pointer;
          }
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        height: 230px;
        margin: 20px 30px;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        list-style: none;

        > li {
          display: flex;
          align-items: center;
          color: $color-black;
          gap: 10px;
          padding: 8px 0;
          flex-basis: calc(50% - 8px);
          cursor: pointer;

          &:hover input[type="checkbox"] {
            border: 2px solid $color-accent;
          }

          &:first-child {
            background-color: initial;
          }

          input[type="checkbox"] {
            position: relative;
            width: 17px;
            height: 17px;
            border: 2px solid #ddd;
            border-radius: 3px;
            margin: 0;
            background-color: $color-white;
            appearance: none;
            cursor: pointer;

            &:checked {
              background-color: transparent;
              border: 2px solid $color-accent;

              &::after {
                content: "✓";
                color: $color-accent;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }

      .cuisines_footer {
        text-align: right;
        margin-top: 9px;

        button {
          height: 45px;
          margin: 5px 3px;
          padding: 15px 33px;
          border: 0px;
          @include borderRadius(5px);
          color: $color-black;
          background-color: #f9f9f9;

          &:hover {
            background-color: #eee;
          }

          &:last-child {
            color: $color-white;
            margin-right: 20px;
            border: 0px;
            background-color: #f45d5d;

            &:hover {
              background-color: #f04343;
            }
          }
        }
      }
    }
  }

  // Inspiration, Top brands
  .insp_background, 
  .brands_background { 
    height: 330px; 

    .arrow {
      position: absolute;
      top: 49vh;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 10;

      .swiper-prev, 
      .swiper-next {
        position: absolute;
        left: 55vw;
        transform: translateY(-50%);
        pointer-events: auto;
        margin-left: calc((100% - 1200px) / 2 - 40px);

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          @include borderRadius(50%);
          background-color: $color-white;
          box-shadow: 1px 1px 10px $color-shadow;
          cursor: pointer;
          z-index: 1;
        }
      }

      .swiper-next {
        left: 114vw; 
      }
    }

    .inspiration, 
    .top_brands {
      overflow: hidden;
      position: relative;
      padding: 35px 0;
      max-width: $max-width;
      margin: 0 auto 10px;

      h2 {
        font-size: 27px;
      }
      
      ul {
        display: flex;

        img {
          height: 150px;
          padding: 5px 0;
          border-radius: 10ch;
        }

        p { 
          padding: 0; 
        }

        > li {
          text-align: center;

          &:first-child { 
            margin-left: 0;
          }
        }
      }
    }

    .top_brands {
      ul {
        img {
          box-shadow: 2px 2px 10px #e8e8e8;
        }
      } 
    }
  }

  .insp_background { 
    background-color: #f5f5f5; 
  }

  .brands_background { 
    .arrow {
      top: 85vh;
    }
  }

  // Order food online
  .order_food {
    position: relative;
    padding: 35px 0;
    max-width: $max-width;
    margin: 0 auto 10px;

    h2 {
      font-size: 27px;
    }

    ul {
      display: inline-block;
      text-align: center;

      > li {
        width: 29.3%;
        padding: 10px;
        margin: 20px 10px;
        display: inline-block;
        position: relative;

        &:hover {
          @include borderRadius($border-radius-large);
          box-shadow: 3px 3px 15px #d8d8d8;
        }

        img:first-child {
          width: 320px; 
          height: 250px;
        }

        img:last-child {
          width: 50px; 
          height: 18px;
          margin-top: 13px; 
          border-radius: 0;
        }

        .contents {
          display: flex; 
          justify-content: space-between;

          &:last-child {
            p {
              font-size: 12px;
              color: rgb(93, 93, 93);
              text-align: left;
            }
          }

          img:first-child {
            width: 20px; 
            height: 20px; 
            margin: 10px 7px 0 0; 
            object-fit: cover;
          }
        }

        a {
          p {
            padding: 0;
            margin: 5px 0;
            font-size: 13px;

            &.sale {
              position: absolute; 
              top: 225px; 
              color: $color-white; 
              font-size: 14px; 
              padding: 0 5px; 
              @include borderRadius(0 0.5ch 0.5ch 0);
              background-color: rgb(20, 110, 255);
            }

            &.time {
              position: absolute; 
              top: 225px; 
              right: 25px; 
              font-weight: 600; 
              font-size: 12px; 
              padding: 0 5px; 
              @include borderRadius(0.5ch);
              background-color: rgba(255, 255, 255, 0.707);
            }

            &.grade {
              width: 40px; 
              padding: 2px; 
              text-align: center; 
              color: $color-white; 
              font-weight: 800; 
              font-size: 12px; 
              @include borderRadius(0.5ch);
              background-color: green;
            }
          }
        }
      }
    }
  }

  // Best Dining Restaurants near you in Delhi NCR
  // Nightlife Restaurants in Delhi NCR
  .best,
  .nightlife {
    position: relative;
    padding: 15px 0;
    width: $max-width;
    margin: 0 auto 10px;

    ul {
      > li {
        width: 29.3%;
        padding: 10px;
        margin: 20px 10px;
        display: inline-block;
        vertical-align: top;
        position: relative;

        &:hover {
          @include borderRadius($border-radius-large);
          box-shadow: 3px 3px 15px #d8d8d8;
        }

        img:first-child {
          .max_safety {
            width: 50px;
            height: 18px;
            margin-top: 13px;
            border-radius: 0px;
          }

          &:first-child {
            width: 320px;
            height: 250px;

          }
        }

        .contents {
          display: flex;
          justify-content: space-between;

          img:first-child {
            width: 50px;
            height: 18px;
            margin: 10px 7px 0 0;
            object-fit: cover;
          }

          &:last-child p {
            font-size: 12px;
            color: rgb(93, 93, 93);
            text-align: left;
          }
        }

        a {
          p {
            padding: 0;
            margin: 2px 0;
            font-size: 13px;
            color: rgb(141, 141, 141);
            text-align: left;

            &.sale {
              position: absolute;
              top: 225px;
              width: 130px;
              color: $color-white;
              font-size: 14px;
              padding: 0px 5px;
              @include borderRadius(0ch 0.5ch 0.5ch 0ch);
              background-color: rgb(20, 110, 255);
            }

            &.time,
            &.distance {
              position: absolute;
              top: 225px;
              right: 25px;
              color: black;
              font-weight: 500;
              font-size: 11px;
              padding: 3px 5px;
              @include borderRadius();
              background-color: rgba(238, 238, 238, 0.919);
            }

            &.grade {
              padding: 2px 4px;
              text-align: center;
              color: $color-white;
              font-weight: 800;
              font-size: 12px;
              @include borderRadius();
              background-color: green;
            }

            &.type {
              color: rgb(86, 86, 86);
            }

            &.closed {
              color: red;
            }
          }
        }
      }
    }
  }

  .end_result {
    display: flex;
    justify-content: center;
    height: 250px;
    padding-top: 50px;

    h2 {
      padding-top: 45px;
      margin-right: 70px;
    }

    img {
      width: 120px;
      height: 120px;
    }
  }

  // Explore options near me
  .explore_options {
    width: $max-width;
    margin: 0 auto 120px;

    .explore {
      width: $max-width;
      margin: 25px 0;
      padding: 23px;
      border: 1px solid lightgrey;
      @include borderRadius($border-radius-large);
      list-style: circle;
      position: relative;

      .cuisines,
      .restaurant,
      .cities {
        cursor: pointer;

        h3 {
          font-size: 21px;
          margin: 0 0 0 3px;
          cursor: pointer;
        }

        span {
          right: 25px;
          top: 28px;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        > li {
          color: $color-black;
          display: none;
          list-style: circle;

          a {
            word-break: break-all;
            /* 한 문단씩 끊기는 특성 없애기 */
            color: rgb(104, 104, 104);
            line-height: 30px;

            &:hover {
              color: $color-black;
            }

            &#firstLi {
              display: inline-block;
              margin-top: 30px;
            }
          }
        }
      }

      .explore_popular {
        ul {
          > li {
            a {
              &::after {
                content: "•";
              }
            }

            &:last-child a::after {
              content: "";
            }
          }
        }
      }

      .explore_cities {
        ul {
          > li {
            margin-bottom: 14px;
            position: relative;
            width: 205px;
            display: none;
            align-content: center;

            &:last-child a {
              font-weight: 600;
              color: $color-black;
              text-decoration: underline 2px;
            }
          }
        }
      }
    }
  }
}