@import url('./filter-modal.css');

// 변수
$color-black: #000;
$color-white: #fff;
$color-accent: rgb(253, 88, 88);
$color-accent-hover: rgb(222, 74, 74);
$color-border: #d5d5d5;
$color-border-light: #f6f6f6;
$color-text-gray: #959595;

$font-primary: 'Montserrat', sans-serif;
$font-weight-light: 300;

$max-width: 1100px;
$border-radius-medium: 0.7ch;

// 키프레임
@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

// 믹스인
@mixin borderRadius($radius: 0.5ch) {
  border-radius: $radius;
}

@mixin boxShadow($x: 1px, $y: 1px, $blur: 10px, $col: #eaeaea) {
  box-shadow: $x $y $blur $col;
}

@mixin inputFocusGreen {
  &:focus-visible {
    border: 2px solid green;
    outline: none;
  }
}

// 전체 설정
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

section {
  margin-bottom: 110px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  color: transparent;
}

img {
  border-radius: 1ch;
  object-fit: cover;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

h3 {
  font-size: 18px;
}

.arrow {
  &Rotate180 {
    transform: rotate(180deg);
    transition: all 0.3s;
  }

  &Rotate0 {
    transform: rotate(0deg);
    transition: all 0.3s;
  }
}

.show {
  display: block;
}

// header
.header_line {
  height: 206px;
  border-bottom: 2px solid $color-border-light;

  header {
    width: $max-width;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-position: center;

    input:focus {
      outline: none;
    }

    span {
      width: 40px;
      height: 40px;
    }

    .header_top {
      display: flex;
      padding: 20px 20px 0 0;

      form.header_input {
        position: relative;
        display: flex;
        width: 670px;
        height: 50px;
        margin: 0px 30px;
        padding: 0;
        @include borderRadius();
        @include boxShadow(2px, 2px, 10px, #eaeaea);

        #location_icon {
          display: inline;
          color: rgb(255, 127, 127);
          position: relative;
          top: 12px;
          margin-left: 15px;
        }

        #arrow_icon {
          display: inline;
          color: rgb(88, 88, 88);
          position: relative;
          top: 12px;
          margin-left: 200px;
          cursor: pointer;
        }

        #search_icon {
          position: absolute;
          height: 25px;
          margin-left: 30px;
          display: inline;
          color: rgb(151, 151, 151);
          top: 12px;
          left: 245px;
          border-left: 1px solid rgb(151, 151, 151);
        }

        input.location,
        input.search {
          height: 25px;
          font-size: 14px;
          border-color: transparent;
          font-family: $font-primary;
        }

        input.location {
          width: 250px;
          margin-left: -220px;
          border-radius: 0.8ch 0ch 0ch 0.8ch;
        }

        .search {
          width: 500px;
          padding-left: 85px;
          margin: 9px 5px;
          border-radius: 0ch 0.8ch 0.8ch 0ch;
        }

        .location_hidden {
          display: none;
          position: absolute;
          top: 63px;
          left: 180px;
          width: 330px;
          height: 45px;
          font-weight: 200;
          color: $color-accent;
          padding: 20px;
          text-align: left;
          background-color: $color-white;
          @include borderRadius($border-radius-medium);

          &:hover {
            background-color: #f6f6f6;
            cursor: pointer;
          }

          span {
            width: 5px;
            height: 5px;
          }

          h3 {
            font-size: 16px;
            padding-left: 40px;
          }

          p {
            color: $color-text-gray;
            font-size: 13px;
            padding-left: 40px;
          }
        }
      }

      nav.header_menu {
        display: flex;
        float: center;
        width: $max-width;
        margin: 10px;
        font-size: 18px;

        a {
          display: flex;
        }

        span {
          position: relative;
          width: 20px;
          margin-right: 10px;
        }

        .header_menu_list {
          display: flex;

          > li {
            margin: 0px 15px;
          }

          button {
            margin: 0;
            font-size: 18px;
            font-weight: $font-weight-light;
            font-family: $font-primary;
            border: transparent;
            background-color: transparent;

            &:hover {
              cursor: pointer;
            }
          }

          .modal_overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 12;
          }

          .modal {
            .login,
            .signup {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 420px;
              max-width: 100%;
              padding: 25px;
              color: $color-black;
              background-color: $color-white;
              z-index: 99;
              animation: scaleAnimation 0.3s ease-in-out;
              @include borderRadius();
            }

            .modal_header {
              display: flex;
              position: relative;

              .modal_name {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 30px;
              }
            }

            .modal_fullname,
            .modal_email {
              position: relative;
              display: inline-block;
              width: 100%;
              align-items: center;
              vertical-align: middle;
              gap: 10px;
              box-sizing: border-box;

              #fullname,
              #email {
                width: 100%;
                height: 50px;
                font-size: 16px;
                border: 2px solid #ddd;
                border-radius: 5px;
                margin-bottom: 30px;
                padding: 10px;
                outline: none;
                box-sizing: border-box;
                transition: border-color 0.3s ease;

                &:focus + .fullname-label,
                &:focus + .email-label,
                &:not(:placeholder-shown) + .fullname-label,
                &:not(:placeholder-shown) + .email-label {
                  top: -25%;
                  left: 10px;
                  color: green;
                  font-size: 10px;
                  transform: translateY(0);
                }
              }

              input {
                width: 100%;
                height: 50px;
                font-size: 16px;
                border: 2px solid #ddd;
                border-radius: 5px;
                margin-bottom: 30px;
                padding: 10px;
                box-sizing: border-box;
                transition: border-color 0.3s ease;
                @include inputFocusGreen;

                &::placeholder {
                  font-family: $font-primary;
                  font-size: 16px;
                }
              }

              label {
                position: absolute;
                top: 7%;
                left: 15px;
                margin: 20px 0px;
                padding: 0 4px;
                color: $color-text-gray;
                background-color: $color-white;
                z-index: 999;
                pointer-events: none;
                transition: all 0.3s ease;
                transform: translateY(-50%);
              }

              .fullname_error_message,
              .email_error_message {
                display: none;
                position: absolute;
                top: 65%;
                left: -35%;
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 10px;
                color: red;
              }

              .email_error_message {
                left: -41%;
              }
            }

            span#close {
              position: absolute;
              top: 10px;
              right: 0px;
              color: $color-black;
              cursor: pointer;
            }

            button {
              width: 100%;
              height: 50px;
              color: $color-white;
              text-align: center;
              @include borderRadius();
            }

            .login_send {
              font-size: 16px;
              background-color: $color-accent;
              margin-bottom: 20px;

              &:hover {
                background-color: $color-accent-hover;
              }
            }

            .login_type {
              display: flex;
              position: relative;
              padding: 0;
              border: 1px solid $color-border;
              background-color: $color-white;
              text-align: center;
              vertical-align: middle;
              border-radius: 0.5ch;
              margin-bottom: 20px;

              button {
                color: #707070;
              }

              span,
              img {
                position: absolute;
                top: 13px;
                margin-right: 20px;
              }

              span {
                left: 70px;
                width: 50px;
                height: 50px;
              }

              img {
                left: 75px;
                width: 25px;
                height: 25px;
              }
            }

            .login_footer {
              display: flex;

              p:last-child {
                margin-left: 10px;
                color: red;
                cursor: pointer;
              }
            }

            .dividing_line {
              color: #dbdbdb;
              margin-bottom: 20px;
            }

            input#modal_input {
              width: 94%;
              height: 50px;
              font-size: 16px;
              font-family: $font-primary;
              margin-bottom: 20px;
              padding-left: 20px;
              border: 1px solid $color-border;
              @include borderRadius();

              &:focus-visible {
                border: 2px solid green;
              }
            }

            .agree {
              display: flex;

              strong {
                color: $color-accent;
              }

              input#agree {
                position: relative;
                margin-left: 5px;
                width: 18px;
                height: 18px;
                border: 2px solid #ddd;
                border-radius: 3px;
                background-color: $color-white;
                appearance: none; /* 기본 체크박스 스타일 제거 */
                cursor: pointer;

                &:hover {
                  border: 2px solid $color-accent;
                }

                &:checked {
                  border: 2px solid $color-accent;
                  background-color: transparent;

                  &::after {
                    content: '✓';
                    color: $color-accent;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }

              p {
                font-size: 12px;
                margin-left: 11px;
                text-align: left;
              }
            }

            .account_btn {
              height: 50px;
              font-family: $font-primary;
              font-size: 16px;
              font-weight: $font-weight-light;
              color: $color-white;
              background-color: $color-accent;
              cursor: pointer;
              border: none;
              border-radius: borderRadius($border-radius-medium);
              margin: 20px 0;

              &:hover {
                background-color: rgb(230, 65, 65);
              }

              &:disabled {
                color: $color-white;
                cursor: not-allowed;
                background-color: #ddd;
              }
            }

            .header_phone {
              position: relative;
              display: inline-block;
              width: 100%;
              height: 49.99px;
              margin-bottom: 20px;

              .header_phone_select {
                position: absolute;
                left: 0;
                top: 10px;
                display: flex;
                height: 55%;
                cursor: pointer;
                align-items: center;
                border-right: 1px solid #d5d5d5;
                z-index: 2;

                .header_phone_pre {
                  display: flex;
                  align-items: center;
                  margin-left: 10px;

                  span {
                    margin-left: 5px;
                    cursor: pointer;
                    transition: transform 0.2s ease;
                    transform-origin: center;
                  }


                  &.spin {
                    span {
                      transform: rotate(180deg);
                    }
                  }

                  .header_phone_btn {
                    font-size: 16px;
                    text-align: center;
                    vertical-align: middle;
                    color: rgb(29, 29, 29);
                    border: 2px solid transparent;
                    background-color: transparent;
                    cursor: pointer;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }

                ul {
                  display: none;
                  position: absolute;
                  top: 40px;
                  left: 0px;
                  width: 80px;
                  height: 200px;
                  border-radius: 1ch;
                  box-shadow: 1px 1px 5px #ddd;
                  overflow-y: scroll;

                  > li {
                    display: block;
                    width: 60px;
                    text-align: center;
                    padding-right: 10px;
                    color: rgb(33, 33, 33);
                    background-color: white;
                    top: 15px;
                    right: 15px;

                    &:hover {
                      background-color: #dadada;
                    }
                  }
                }
              }

              input#header_phone {
                width: 100%;
                height: 100%;
                padding-left: 90px;
                border: 1px solid $color-border;
                text-align: left;
                z-index: 1;
                box-sizing: border-box;
                font-family: $font-primary;
                font-size: 16px;
                @include borderRadius();
                @include inputFocusGreen;
              }
            }
          }
        }
      }
    }

    .location {
      display: flex;
      padding: 0px;
      margin: 10px 0px;
      width: 100%;
      font-size: 12px;

      p {
        margin: 0 5px;
        padding: 0;

        &:last-child {
          color: #b8b8b8;
        }

        &:first-child a:hover,
        &:nth-child(3) a:hover {
          color: rgb(253, 88, 88);
        }
      }
    }

    .eating_form {
      display: flex;
      width: 100%;

      a {
        display: flex;
        padding: 10px 20px 7px 20px;

        &.page_on {
          border-bottom: 2.5px solid $color-accent;

          h3 {
            color: $color-accent;
          }

          div.order {
            background-color: rgba(246, 205, 0, 0.35);
          }
          div.dining {
            background-color: rgba(90, 199, 229, 0.183);
          }
          div.nightlife {
            background-color: rgba(64, 134, 255, 0.107);
          }
        }

        div {
          height: 60px;
          width: 60px;
          border-radius: 50ch;
          background-color: rgba(244, 244, 244, 0.594);
        }

        img {
          height: 30px;
          padding-top: 13px;
        }

        h3 {
          margin-left: 10px;
          padding-top: 16px;
          font-weight: 600;
        }
      }
    }
  }
}